<h1 style="text-align: center">
<div style="color: #DD3403; font-size: 60%">Data Science DISCOVERY MicroProject</div>
<span style="">MicroProject: Exploring COVID-19 Data from GitHub</span>
<div style="font-size: 60%;"><a href="https://discovery.cs.illinois.edu/microproject/covid-data-from-github/">https://discovery.cs.illinois.edu/microproject/covid-data-from-github/</a></div>
</h1>

<hr style="color: #DD3403;">

## Data Source: COVID-19 Case Data from Johns Hopkins University, via GitHub

Since before COVID-19 was detected in the United States, the Center for Systems Science and Engineering (CSSE) at Johns Hopkins University has provided daily updates of COVID-19 case data as clean, structured CSV files on GitHub as a free public service to the world.

You can view their COVID-19 GitHub repository here: [https://github.com/CSSEGISandData/COVID-19](https://github.com/CSSEGISandData/COVID-19).  You can find their daily reports by navigating into their repository:

- Click **csse_covid_19_data** to navigate into the `csse_covid_19_data` folder,
- Navigate into `csse_covid_19_daily_reports`,
- Find the CSV data for **Jan. 3, 2022** *(it'll be near the top, be careful to get the correct year)*
- Click the **Raw** button to above the file contents to navigate to the raw CSV version of the file (without the GitHub interface)
- Use the URL of the **raw data as your dataset** for this MicroProject.

Use panda's `read_csv` function to read the dataset you found and create a DataFrame called `df`:

In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/01-03-2022.csv")
df

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2022-01-04 04:22:17,33.939110,67.709953,158183,7364,NaN,NaN,Afghanistan,406.344057,4.655368
1,NaN,NaN,NaN,Albania,2022-01-04 04:22:17,41.153300,20.168300,210885,3220,NaN,NaN,Albania,7327.993606,1.526899
2,NaN,NaN,NaN,Algeria,2022-01-04 04:22:17,28.033900,1.659600,219532,6298,NaN,NaN,Algeria,500.631194,2.868830
3,NaN,NaN,NaN,Andorra,2022-01-04 04:22:17,42.506300,1.521800,24502,140,NaN,NaN,Andorra,31711.641752,0.571382
4,NaN,NaN,NaN,Angola,2022-01-04 04:22:17,-11.202700,17.873900,83764,1775,NaN,NaN,Angola,254.863132,2.119049
5,NaN,NaN,NaN,Antigua and Barbuda,2022-01-04 04:22:17,17.060800,-61.796400,4283,119,NaN,NaN,Antigua and Barbuda,4373.621436,2.778426
6,NaN,NaN,NaN,Argentina,2022-01-04 04:22:17,-38.416100,-63.616700,5739326,117245,NaN,NaN,Argentina,12698.810334,2.042836
7,NaN,NaN,NaN,Armenia,2022-01-04 04:22:17,40.069100,45.038200,345036,7983,NaN,NaN,Armenia,11643.899874,2.313672
8,NaN,NaN,Australian Capital Territory,Australia,2022-01-04 04:22:17,-35.473500,149.012400,5323,15,NaN,NaN,"Australian Capital Territory, Australia",1458.537725,0.281796
9,NaN,NaN,New South Wales,Australia,2022-01-04 04:22:17,-33.868800,151.209300,272160,675,NaN,NaN,"New South Wales, Australia",3352.549889,0.248016
10,NaN,NaN,Northern Territory,Australia,2022-01-04 04:22:17,-12.463400,130.845600,880,1,NaN,NaN,"Northern Territory, Australia",358.306189,0.113636
11,NaN,NaN,Queensland,Australia,2022-01-04 04:22:17,-27.469800,153.025100,23941,7,NaN,NaN,"Queensland, Australia",579.141824,0.029239
12,NaN,NaN,South Australia,Australia,2022-01-04 04:22:17,-34.928500,138.600700,18021,8,NaN,NaN,"South Australia, Australia",1210.760034,0.044393
13,NaN,NaN,Tasmania,Australia,2022-01-04 04:22:17,-42.882100,147.327200,2259,13,NaN,NaN,"Tasmania, Australia",421.848739,0.575476
14,NaN,NaN,Victoria,Australia,2022-01-04 04:22:17,-37.813600,144.963100,213548,1542,NaN,NaN,"Victoria, Australia",3220.983725,0.722086
15,NaN,NaN,Western Australia,Australia,2022-01-04 04:22:17,-31.950500,115.860500,1176,9,NaN,NaN,"Western Australia, Australia",44.704630,0.765306
16,NaN,NaN,NaN,Austria,2022-01-04 04:22:17,47.516200,14.550100,1281328,16867,NaN,NaN,Austria,14310.146118,1.067558
17,NaN,NaN,NaN,Azerbaijan,2022-01-04 04:22:17,40.143100,47.576900,617952,8383,NaN,NaN,Azerbaijan,6094.697054,1.356578
18,NaN,NaN,NaN,Bahamas,2022-01-04 04:22:17,25.025885,-78.035889,25534,717,NaN,NaN,Bahamas,6493.103589,2.808021
19,NaN,NaN,NaN,Bahrain,2022-01-04 04:22:17,26.027500,50.550000,284224,1395,NaN,NaN,Bahrain,16703.504913,0.490810
20,NaN,NaN,NaN,Bangladesh,2022-01-04 04:22:17,23.685000,90.356300,1587140,28081,NaN,NaN,Bangladesh,963.717254,1.769283
21,NaN,NaN,NaN,Barbados,2022-01-04 04:22:17,13.193900,-59.543200,29160,262,NaN,NaN,Barbados,10147.161683,0.898491
22,NaN,NaN,NaN,Belarus,2022-01-04 04:22:17,53.709800,27.953400,701699,5624,NaN,NaN,Belarus,7425.919809,0.801483
23,NaN,NaN,Antwerp,Belgium,2022-01-04 04:22:17,51.219500,4.402400,307088,0,NaN,NaN,"Antwerp, Belgium",16528.003979,0.000000
24,NaN,NaN,Brussels,Belgium,2022-01-04 04:22:17,50.850300,4.351700,254834,0,NaN,NaN,"Brussels, Belgium",21086.068999,0.000000
25,NaN,NaN,East Flanders,Belgium,2022-01-04 04:22:17,51.036200,3.737300,264246,0,NaN,NaN,"East Flanders, Belgium",17441.243406,0.000000
26,NaN,NaN,Flemish Brabant,Belgium,2022-01-04 04:22:17,50.916700,4.583300,188478,0,NaN,NaN,"Flemish Brabant, Belgium",16444.085764,0.000000
27,NaN,NaN,Hainaut,Belgium,2022-01-04 04:22:17,50.525700,4.062100,255607,0,NaN,NaN,"Hainaut, Belgium",19014.968298,0.000000
28,NaN,NaN,Liege,Belgium,2022-01-04 04:22:17,50.449600,5.849200,228403,0,NaN,NaN,"Liege, Belgium",20632.759767,0.000000
29,NaN,NaN,Limburg,Belgium,2022-01-04 04:22:17,50.973900,5.342000,140741,0,NaN,NaN,"Limburg, Belgium",16102.204913,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3986,NaN,NaN,England,United Kingdom,2022-01-04 04:22:17,52.355500,-1.174300,11408560,151669,NaN,NaN,"England, United Kingdom",20380.726439,1.134885
3987,NaN,NaN,Falkland Islands (Malvinas),United Kingdom,2022-01-04 04:22:17,-51.796300,-59.523600,83,0,NaN,NaN,"Falkland Islands (Malvinas), United Kingdom",2383.003158,0.000000
3988,NaN,NaN,Gibraltar,United Kingdom,2022-01-04 04:22:17,36.140800,-5.353600,8927,100,NaN,NaN,"Gibraltar, United Kingdom",26496.690511,1.120197
3989,NaN,NaN,Isle of Man,United Kingdom,2022-01-04 04:22:17,54.236100,-4.548100,13754,67,NaN,NaN,"Isle of Man, United Kingdom",16175.087026,0.487131
3990,NaN,NaN,Montserrat,United Kingdom,2022-01-04 04:22:17,16.742498,-62.187366,66,1,NaN,NaN,"Montserrat, United Kingdom",1320.264053,1.515152
3991,NaN,NaN,Northern Ireland,United Kingdom,2022-01-04 04:22:17,54.787700,-6.492300,402069,4067,NaN,NaN,"Northern Ireland, United Kingdom",21368.463010,0.741166
3992,NaN,NaN,"Saint Helena, Ascension and Tristan da Cunha",United Kingdom,2022-01-04 04:22:17,-7.946700,-14.355900,4,0,NaN,NaN,"Saint Helena, Ascension and Tristan da Cunha, ...",70.658894,0.000000
3993,NaN,NaN,Scotland,United Kingdom,2022-01-04 04:22:17,56.490700,-4.202600,966027,12598,NaN,NaN,"Scotland, United Kingdom",17682.115205,1.020468
3994,NaN,NaN,Turks and Caicos Islands,United Kingdom,2022-01-04 04:22:17,21.694000,-71.797900,3562,26,NaN,NaN,"Turks and Caicos Islands, United Kingdom",9199.855364,0.729927
3995,NaN,NaN,Unknown,United Kingdom,2022-01-04 04:22:17,NaN,NaN,0,254,NaN,NaN,"Unknown, United Kingdom",NaN,NaN
3996,NaN,NaN,Wales,United Kingdom,2022-01-04 04:22:17,52.130700,-3.783700,646159,9334,NaN,NaN,"Wales, United Kingdom",20587.491238,1.018480
3997,NaN,NaN,NaN,Uruguay,2022-01-04 04:22:17,-32.522800,-55.765800,416970,6177,NaN,NaN,Uruguay,12003.533956,1.481402
3998,NaN,NaN,NaN,Uzbekistan,2022-01-04 04:22:17,41.377491,64.585262,199182,1485,NaN,NaN,Uzbekistan,595.120307,0.745549
3999,NaN,NaN,NaN,Vanuatu,2022-01-04 04:22:17,-15.376700,166.959200,7,1,NaN,NaN,Vanuatu,2.391691,14.285714
4000,NaN,NaN,NaN,Venezuela,2022-01-04 04:22:17,6.423800,-66.589700,445082,5335,NaN,NaN,Venezuela,1565.209214,1.198656
4001,NaN,NaN,NaN,Vietnam,2022-01-04 04:22:17,14.058324,108.277199,1778976,33021,NaN,NaN,Vietnam,1827.616496,1.856180
4002,NaN,NaN,NaN,West Bank and Gaza,2022-01-04 04:22:17,31.952200,35.233200,469748,4919,NaN,NaN,West Bank and Gaza,9208.188472,1.047157
4003,NaN,NaN,NaN,Yemen,2022-01-04 04:22:17,15.552727,48.516388,10138,1984,NaN,NaN,Yemen,33.990515,19.569935
4004,NaN,NaN,NaN,Zambia,2022-01-04 04:22:17,-13.133897,27.849332,261221,3753,NaN,NaN,Zambia,1420.918327,1.436715
4005,NaN,NaN,NaN,Zimbabwe,2022-01-04 04:22:17,-19.015438,29.154857,216087,5047,NaN,NaN,Zimbabwe,1453.865716,2.335633
4006,NaN,NaN,NaN,Winter Olympics 2022,2022-01-04 04:22:17,39.904200,116.407400,0,0,0.0,0.0,Winter Olympics 2022,0.000000,0.000000
4007,NaN,NaN,NaN,Antarctica,2022-01-04 04:22:17,-71.949900,23.347000,11,0,0.0,0.0,Antarctica,0.000000,0.000000
4008,NaN,NaN,Jersey,United Kingdom,2022-01-04 04:22:17,49.213800,-2.135800,20254,89,0.0,0.0,"Jersey, United Kingdom",0.000000,0.000000
4009,NaN,NaN,Guernsey,United Kingdom,2022-01-04 04:22:17,49.448196,-2.589490,8489,24,0.0,0.0,"Guernsey, United Kingdom",0.000000,0.000000
4010,NaN,NaN,NaN,"Korea, North",2022-01-04 04:22:17,40.339900,127.510100,0,0,0.0,0.0,"Korea, North",0.000000,0.000000
4011,NaN,NaN,Unknown,Ukraine,2022-01-04 04:22:17,NaN,NaN,0,0,0.0,0.0,"Unknown, Ukraine",0.000000,0.000000
4012,NaN,NaN,NaN,Nauru,2022-01-04 04:22:17,-0.522800,166.931500,0,0,0.0,0.0,Nauru,0.000000,0.000000
4013,NaN,NaN,Niue,New Zealand,2022-01-04 04:22:17,-19.054400,-169.867200,0,0,0.0,0.0,"Niue, New Zealand",0.000000,0.000000
4014,NaN,NaN,NaN,Tuvalu,2022-01-04 04:22:17,-7.109500,177.649300,0,0,0.0,0.0,Tuvalu,0.000000,0.000000
4015,NaN,NaN,Pitcairn Islands,United Kingdom,2022-01-04 04:22:17,-24.376800,-128.324200,0,0,0.0,0.0,"Pitcairn Islands, United Kingdom",0.000000,0.000000

### ðŸ”¬ Checkpoint Tests ðŸ”¬

In [2]:
## == CHECKPOINT TESTS ==
# - This read-only cell contains a "checkpoint" for this section of the MicroProejct and verifies you are on the right track.
# - If this cell results in a celebration message, you PASSED all test cases!
# - If this cell results in any errors, check you previous cells, make changes, and RE-RUN your code and then this cell.
tada = "\N{PARTY POPPER}"

assert("df" in vars())
assert("Country_Region" in df)
assert("People_Hospitalized" not in df), "Make sure you have the global daily reports, not just the US daily reports."
assert("India" in df["Country_Region"].unique())
assert("2022-01-04" in df["Last_Update"].unique()[0]), "Make sure you have the Jan. 3, 2022 CSV file."
print(f"{tada} All Tests Passed! {tada}")

ðŸŽ‰ All Tests Passed! ðŸŽ‰

<hr style="color: #DD3403;">

## Country-Level Analysis of COVID-19

The CSV file from JHU provides the **total reported cases over all time until the end of the day on Jan. 3, 2022**.  However, the data is often breaks countries into individual regions.  For example, let's check out the United States.  Create a DataFrame with all records from the dataset with data about the United States in the variable `df_us`:

In [3]:
df_us = df[df.Country_Region == "US"]
df_us

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
673,1001.0,Autauga,Alabama,US,2022-01-04 04:22:17,32.539527,-86.644082,11256,160,NaN,NaN,"Autauga, Alabama, US",20147.129893,1.421464
674,1003.0,Baldwin,Alabama,US,2022-01-04 04:22:17,30.727750,-87.722071,40549,593,NaN,NaN,"Baldwin, Alabama, US",18164.347725,1.462428
675,1005.0,Barbour,Alabama,US,2022-01-04 04:22:17,31.868263,-85.387129,3961,81,NaN,NaN,"Barbour, Alabama, US",16045.531880,2.044938
676,1007.0,Bibb,Alabama,US,2022-01-04 04:22:17,32.996421,-87.125115,4594,95,NaN,NaN,"Bibb, Alabama, US",20514.423506,2.067915
677,1009.0,Blount,Alabama,US,2022-01-04 04:22:17,33.982109,-86.567906,11368,198,NaN,NaN,"Blount, Alabama, US",19658.976931,1.741731
678,1011.0,Bullock,Alabama,US,2022-01-04 04:22:17,32.100305,-85.712655,1707,46,NaN,NaN,"Bullock, Alabama, US",16899.316899,2.694786
679,1013.0,Butler,Alabama,US,2022-01-04 04:22:17,31.753001,-86.680575,3672,102,NaN,NaN,"Butler, Alabama, US",18881.118881,2.777778
680,1015.0,Calhoun,Alabama,US,2022-01-04 04:22:17,33.774837,-85.826304,23694,532,NaN,NaN,"Calhoun, Alabama, US",20856.476387,2.245294
681,1017.0,Chambers,Alabama,US,2022-01-04 04:22:17,32.913601,-85.390727,6323,147,NaN,NaN,"Chambers, Alabama, US",19014.253924,2.324846
682,1019.0,Cherokee,Alabama,US,2022-01-04 04:22:17,34.178060,-85.606390,3429,65,NaN,NaN,"Cherokee, Alabama, US",13089.784700,1.895596
683,1021.0,Chilton,Alabama,US,2022-01-04 04:22:17,32.850441,-86.717326,7523,173,NaN,NaN,"Chilton, Alabama, US",16933.015216,2.299615
684,1023.0,Choctaw,Alabama,US,2022-01-04 04:22:17,32.022273,-88.265644,1032,30,NaN,NaN,"Choctaw, Alabama, US",8197.632854,2.906977
685,1025.0,Clarke,Alabama,US,2022-01-04 04:22:17,31.680999,-87.835486,4982,88,NaN,NaN,"Clarke, Alabama, US",21090.508848,1.766359
686,1027.0,Clay,Alabama,US,2022-01-04 04:22:17,33.269842,-85.858361,2690,69,NaN,NaN,"Clay, Alabama, US",20324.896109,2.565056
687,1029.0,Cleburne,Alabama,US,2022-01-04 04:22:17,33.676792,-85.520059,2669,60,NaN,NaN,"Cleburne, Alabama, US",17900.737760,2.248033
688,1031.0,Coffee,Alabama,US,2022-01-04 04:22:17,31.399328,-85.989010,9905,195,NaN,NaN,"Coffee, Alabama, US",18923.617745,1.968703
689,1033.0,Colbert,Alabama,US,2022-01-04 04:22:17,34.698475,-87.801685,10031,214,NaN,NaN,"Colbert, Alabama, US",18158.614073,2.133387
690,1035.0,Conecuh,Alabama,US,2022-01-04 04:22:17,31.434017,-86.993200,2007,62,NaN,NaN,"Conecuh, Alabama, US",16632.137234,3.089188
691,1037.0,Coosa,Alabama,US,2022-01-04 04:22:17,32.936901,-86.248477,1988,48,NaN,NaN,"Coosa, Alabama, US",18643.908844,2.414487
692,1039.0,Covington,Alabama,US,2022-01-04 04:22:17,31.247785,-86.450509,7188,200,NaN,NaN,"Covington, Alabama, US",19401.333369,2.782415
693,1041.0,Crenshaw,Alabama,US,2022-01-04 04:22:17,31.729418,-86.315931,2786,79,NaN,NaN,"Crenshaw, Alabama, US",20229.451060,2.835607
694,1043.0,Cullman,Alabama,US,2022-01-04 04:22:17,34.130203,-86.868880,17201,310,NaN,NaN,"Cullman, Alabama, US",20534.094165,1.802221
695,1045.0,Dale,Alabama,US,2022-01-04 04:22:17,31.430371,-85.610957,9518,194,NaN,NaN,"Dale, Alabama, US",19356.544375,2.038243
696,1047.0,Dallas,Alabama,US,2022-01-04 04:22:17,32.326881,-87.108667,5673,212,NaN,NaN,"Dallas, Alabama, US",15251.639961,3.737000
697,1049.0,DeKalb,Alabama,US,2022-01-04 04:22:17,34.459469,-85.807829,13621,278,NaN,NaN,"DeKalb, Alabama, US",19046.886580,2.040966
698,1051.0,Elmore,Alabama,US,2022-01-04 04:22:17,32.597854,-86.144153,16997,297,NaN,NaN,"Elmore, Alabama, US",20929.946188,1.747367
699,1053.0,Escambia,Alabama,US,2022-01-04 04:22:17,31.125679,-87.159187,7407,148,NaN,NaN,"Escambia, Alabama, US",20219.474245,1.998110
700,1055.0,Etowah,Alabama,US,2022-01-04 04:22:17,34.045673,-86.040519,20882,527,NaN,NaN,"Etowah, Alabama, US",20418.899362,2.523705
701,1057.0,Fayette,Alabama,US,2022-01-04 04:22:17,33.720769,-87.738866,3446,86,NaN,NaN,"Fayette, Alabama, US",21138.510612,2.495647
702,1059.0,Franklin,Alabama,US,2022-01-04 04:22:17,34.442353,-87.842895,6598,111,NaN,NaN,"Franklin, Alabama, US",21038.199094,1.682328
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3922,55131.0,Washington,Wisconsin,US,2022-01-04 04:22:17,43.368637,-88.229747,29018,257,NaN,NaN,"Washington, Wisconsin, US",21331.431848,0.885657
3923,55133.0,Waukesha,Wisconsin,US,2022-01-04 04:22:17,43.018331,-88.304312,77748,840,NaN,NaN,"Waukesha, Wisconsin, US",19235.127339,1.080414
3924,55135.0,Waupaca,Wisconsin,US,2022-01-04 04:22:17,44.470681,-88.965345,10532,216,NaN,NaN,"Waupaca, Wisconsin, US",20655.030398,2.050893
3925,55137.0,Waushara,Wisconsin,US,2022-01-04 04:22:17,44.113244,-89.243171,4584,73,NaN,NaN,"Waushara, Wisconsin, US",18753.835454,1.592496
3926,55139.0,Winnebago,Wisconsin,US,2022-01-04 04:22:17,44.068869,-88.644771,36190,312,NaN,NaN,"Winnebago, Wisconsin, US",21052.080485,0.862117
3927,55141.0,Wood,Wisconsin,US,2022-01-04 04:22:17,44.455379,-90.041583,15141,176,NaN,NaN,"Wood, Wisconsin, US",20741.380019,1.162407
3928,56001.0,Albany,Wyoming,US,2022-01-04 04:22:17,41.654987,-105.723541,7150,43,NaN,NaN,"Albany, Wyoming, US",18389.917695,0.601399
3929,56003.0,Big Horn,Wyoming,US,2022-01-04 04:22:17,44.524051,-107.996037,2187,58,NaN,NaN,"Big Horn, Wyoming, US",18549.618321,2.652035
3930,56005.0,Campbell,Wyoming,US,2022-01-04 04:22:17,44.248861,-105.547440,9627,130,NaN,NaN,"Campbell, Wyoming, US",20774.260374,1.350369
3931,56007.0,Carbon,Wyoming,US,2022-01-04 04:22:17,41.693578,-106.932608,3335,46,NaN,NaN,"Carbon, Wyoming, US",22533.783784,1.379310
3932,56009.0,Converse,Wyoming,US,2022-01-04 04:22:17,42.972723,-105.508185,2391,48,NaN,NaN,"Converse, Wyoming, US",17298.509622,2.007528
3933,56011.0,Crook,Wyoming,US,2022-01-04 04:22:17,44.588551,-104.569771,1031,22,NaN,NaN,"Crook, Wyoming, US",13594.409283,2.133851
3934,56013.0,Fremont,Wyoming,US,2022-01-04 04:22:17,43.041840,-108.629689,9757,159,NaN,NaN,"Fremont, Wyoming, US",24851.633937,1.629599
3935,56015.0,Goshen,Wyoming,US,2022-01-04 04:22:17,42.087982,-104.353474,2718,52,NaN,NaN,"Goshen, Wyoming, US",20573.764287,1.913171
3936,56017.0,Hot Springs,Wyoming,US,2022-01-04 04:22:17,43.719307,-108.442317,902,11,NaN,NaN,"Hot Springs, Wyoming, US",20439.610242,1.219512
3937,56019.0,Johnson,Wyoming,US,2022-01-04 04:22:17,44.040572,-106.584517,1392,17,NaN,NaN,"Johnson, Wyoming, US",16483.126110,1.221264
3938,56021.0,Laramie,Wyoming,US,2022-01-04 04:22:17,41.307025,-104.688750,18863,231,NaN,NaN,"Laramie, Wyoming, US",18957.788945,1.224620
3939,56023.0,Lincoln,Wyoming,US,2022-01-04 04:22:17,42.263764,-110.656400,3120,27,NaN,NaN,"Lincoln, Wyoming, US",15733.736762,0.865385
3940,56025.0,Natrona,Wyoming,US,2022-01-04 04:22:17,42.961801,-106.797885,16868,235,NaN,NaN,"Natrona, Wyoming, US",21122.492424,1.393171
3941,56027.0,Niobrara,Wyoming,US,2022-01-04 04:22:17,43.056077,-104.475890,502,8,NaN,NaN,"Niobrara, Wyoming, US",21307.300509,1.593625
3942,56029.0,Park,Wyoming,US,2022-01-04 04:22:17,44.521575,-109.585283,5697,117,NaN,NaN,"Park, Wyoming, US",19514.283757,2.053712
3943,56031.0,Platte,Wyoming,US,2022-01-04 04:22:17,42.132991,-104.966331,1585,35,NaN,NaN,"Platte, Wyoming, US",18884.784940,2.208202
3944,56033.0,Sheridan,Wyoming,US,2022-01-04 04:22:17,44.790489,-106.886239,6047,61,NaN,NaN,"Sheridan, Wyoming, US",19835.984911,1.008765
3945,56035.0,Sublette,Wyoming,US,2022-01-04 04:22:17,42.765583,-109.913092,1530,23,NaN,NaN,"Sublette, Wyoming, US",15563.014953,1.503268
3946,56037.0,Sweetwater,Wyoming,US,2022-01-04 04:22:17,41.659439,-108.882788,8352,107,NaN,NaN,"Sweetwater, Wyoming, US",19724.629809,1.281130
3947,56039.0,Teton,Wyoming,US,2022-01-04 04:22:17,43.935225,-110.589080,6273,14,NaN,NaN,"Teton, Wyoming, US",26734.572110,0.223179
3948,56041.0,Uinta,Wyoming,US,2022-01-04 04:22:17,41.287818,-110.547578,4173,31,NaN,NaN,"Uinta, Wyoming, US",20631.859982,0.742871
3949,90056.0,Unassigned,Wyoming,US,2022-01-04 04:22:17,NaN,NaN,0,0,NaN,NaN,"Unassigned, Wyoming, US",NaN,NaN
3950,56043.0,Washakie,Wyoming,US,2022-01-04 04:22:17,43.904516,-107.680187,1886,37,NaN,NaN,"Washakie, Wyoming, US",24163.997438,1.961824
3951,56045.0,Weston,Wyoming,US,2022-01-04 04:22:17,43.839612,-104.567488,1257,14,NaN,NaN,"Weston, Wyoming, US",18146.383716,1.113763

### Analysis of COVID-19 in the United States

Create a new DataFrame, `df_us_sorted`, that sorts the DataFrame based on the number of confirmed cases of COVID-19 in the United States, where the **first row contains the location with the highest number of confirmed cases**:

In [4]:
df_us_sorted = df_us.sort_values(by="Confirmed", ascending=False)
df_us_sorted

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
885,6037.0,Los Angeles,California,US,2022-01-04 04:22:17,34.308284,-118.228241,1757522,27647,NaN,NaN,"Los Angeles, California, US",17506.756328,1.573067
781,4013.0,Maricopa,Arizona,US,2022-01-04 04:22:17,33.348359,-112.491815,887308,13737,NaN,NaN,"Maricopa, Arizona, US",19782.075857,1.548166
1305,17031.0,Cook,Illinois,US,2022-01-04 04:22:17,41.841448,-87.816588,862761,12055,NaN,NaN,"Cook, Illinois, US",16751.882876,1.397258
1050,12086.0,Miami-Dade,Florida,US,2022-01-04 04:22:17,25.611236,-80.551706,854670,6472,NaN,NaN,"Miami-Dade, Florida, US",31457.080392,0.757251
3440,48201.0,Harris,Texas,US,2022-01-04 04:22:17,29.858649,-95.393395,759902,9766,NaN,NaN,"Harris, Texas, US",14660.987732,1.413273
2572,36047.0,Kings,New York,US,2022-01-04 04:22:17,40.636182,-73.949356,504248,11198,NaN,NaN,"Kings, New York, US",19697.933867,2.220733
2590,36081.0,Queens,New York,US,2022-01-04 04:22:17,40.710881,-73.816847,456112,10586,NaN,NaN,"Queens, New York, US",20236.944830,2.320921
904,6073.0,San Diego,California,US,2022-01-04 04:22:17,33.034846,-116.736533,451019,4469,NaN,NaN,"San Diego, California, US",13510.318033,0.990867
1013,12011.0,Broward,Florida,US,2022-01-04 04:22:17,26.151847,-80.487256,442977,3079,NaN,NaN,"Broward, Florida, US",22684.452611,0.695070
900,6065.0,Riverside,California,US,2022-01-04 04:22:17,33.743150,-115.993358,429632,5501,NaN,NaN,"Riverside, California, US",16798.877657,1.325466
3396,48113.0,Dallas,Texas,US,2022-01-04 04:22:17,32.766706,-96.777961,427931,5780,NaN,NaN,"Dallas, Texas, US",17135.240310,1.279888
903,6071.0,San Bernardino,California,US,2022-01-04 04:22:17,34.840603,-116.177469,416606,6051,NaN,NaN,"San Bernardino, California, US",18303.001947,1.516462
3559,48439.0,Tarrant,Texas,US,2022-01-04 04:22:17,32.771438,-97.291016,404243,5036,NaN,NaN,"Tarrant, Texas, US",18892.469257,1.267821
2466,32003.0,Clark,Nevada,US,2022-01-04 04:22:17,36.214589,-115.013024,377518,6461,NaN,NaN,"Clark, Nevada, US",16654.850742,1.711442
896,6059.0,Orange,California,US,2022-01-04 04:22:17,33.701475,-117.764600,373143,5895,NaN,NaN,"Orange, California, US",11749.974494,1.579823
3354,48029.0,Bexar,Texas,US,2022-01-04 04:22:17,29.449287,-98.520197,357912,5348,NaN,NaN,"Bexar, Texas, US",17635.312050,1.513586
2601,36103.0,Suffolk,New York,US,2022-01-04 04:22:17,40.883201,-72.801217,337149,3834,NaN,NaN,"Suffolk, New York, US",22832.776085,1.137183
2578,36059.0,Nassau,New York,US,2022-01-04 04:22:17,40.740665,-73.589419,313601,3422,NaN,NaN,"Nassau, New York, US",23111.169085,1.091196
2551,36005.0,Bronx,New York,US,2022-01-04 04:22:17,40.852093,-73.862828,295914,6929,NaN,NaN,"Bronx, New York, US",20865.360275,2.341559
2023,26163.0,Wayne,Michigan,US,2022-01-04 04:22:17,42.280984,-83.281255,294630,6532,NaN,NaN,"Wayne, Michigan, US",16842.323089,2.217018
2579,36061.0,New York,New York,US,2022-01-04 04:22:17,40.767273,-73.971526,291696,4740,NaN,NaN,"New York, New York, US",17909.677990,1.624979
1057,12099.0,Palm Beach,Florida,US,2022-01-04 04:22:17,26.646763,-80.465360,270915,2883,NaN,NaN,"Palm Beach, Florida, US",18099.975280,1.064171
1035,12057.0,Hillsborough,Florida,US,2022-01-04 04:22:17,27.927656,-82.320132,269732,1832,NaN,NaN,"Hillsborough, Florida, US",18324.583143,0.679193
1055,12095.0,Orange,Florida,US,2022-01-04 04:22:17,28.513676,-81.317995,263427,1310,NaN,NaN,"Orange, Florida, US",18904.633959,0.497291
2786,39035.0,Cuyahoga,Ohio,US,2022-01-04 04:22:17,41.424119,-81.659183,236012,3230,NaN,NaN,"Cuyahoga, Ohio, US",19109.169344,1.198244
3024,42101.0,Philadelphia,Pennsylvania,US,2022-01-04 04:22:17,40.003385,-75.137927,235342,4261,NaN,NaN,"Philadelphia, Pennsylvania, US",14856.849218,1.810557
3598,49035.0,Salt Lake,Utah,US,2022-01-04 04:22:17,40.666165,-111.921601,233157,1315,NaN,NaN,"Salt Lake, Utah, US",20092.172173,0.563998
1932,25017.0,Middlesex,Massachusetts,US,2022-01-04 04:22:17,42.486077,-71.390492,219876,3370,NaN,NaN,"Middlesex, Massachusetts, US",13642.497762,1.880605
2793,39049.0,Franklin,Ohio,US,2022-01-04 04:22:17,39.969958,-83.011158,216060,2151,NaN,NaN,"Franklin, Ohio, US",16408.506967,0.904841
3775,53033.0,King,Washington,US,2022-01-04 04:22:17,47.491379,-121.834613,212293,2142,NaN,NaN,"King, Washington, US",9423.592696,1.008983
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2305,90029.0,Unassigned,Missouri,US,2022-01-04 04:22:17,NaN,NaN,0,0,NaN,NaN,"Unassigned, Missouri, US",NaN,NaN
2916,80040.0,Out of OK,Oklahoma,US,2022-01-04 04:22:17,NaN,NaN,0,0,NaN,NaN,"Out of OK, Oklahoma, US",NaN,NaN
1244,90015.0,Unassigned,Hawaii,US,2022-01-04 04:22:17,NaN,NaN,0,0,NaN,NaN,"Unassigned, Hawaii, US",NaN,NaN
1659,80020.0,Out of KS,Kansas,US,2022-01-04 04:22:17,NaN,NaN,0,0,NaN,NaN,"Out of KS, Kansas, US",NaN,NaN
897,80006.0,Out of CA,California,US,2022-01-04 04:22:17,NaN,NaN,0,0,NaN,NaN,"Out of CA, California, US",NaN,NaN
3172,90045.0,Unassigned,South Carolina,US,2022-01-04 04:22:17,NaN,NaN,0,0,NaN,NaN,"Unassigned, South Carolina, US",NaN,NaN
2588,80036.0,Out of NY,New York,US,2022-01-04 04:22:17,NaN,NaN,0,384,NaN,NaN,"Out of NY, New York, US",NaN,NaN
2365,90030.0,Unassigned,Montana,US,2022-01-04 04:22:17,NaN,NaN,0,0,NaN,NaN,"Unassigned, Montana, US",NaN,NaN
2967,90041.0,Unassigned,Oregon,US,2022-01-04 04:22:17,NaN,NaN,0,0,NaN,NaN,"Unassigned, Oregon, US",NaN,NaN
3949,90056.0,Unassigned,Wyoming,US,2022-01-04 04:22:17,NaN,NaN,0,0,NaN,NaN,"Unassigned, Wyoming, US",NaN,NaN
1474,90018.0,Unassigned,Indiana,US,2022-01-04 04:22:17,NaN,NaN,0,651,NaN,NaN,"Unassigned, Indiana, US",NaN,NaN
3122,NaN,NaN,Recovered,US,2022-01-04 04:22:17,NaN,NaN,0,0,NaN,NaN,"Recovered, US",NaN,NaN
2479,90032.0,Unassigned,Nevada,US,2021-01-24 23:22:19,NaN,NaN,0,0,NaN,NaN,"Unassigned, Nevada, US",NaN,NaN
784,80004.0,Out of AZ,Arizona,US,2022-01-04 04:22:17,NaN,NaN,0,0,NaN,NaN,"Out of AZ, Arizona, US",NaN,NaN
1889,80023.0,Out of ME,Maine,US,2020-08-07 22:34:20,NaN,NaN,0,0,NaN,NaN,"Out of ME, Maine, US",NaN,NaN
1686,90020.0,Unassigned,Kansas,US,2022-01-04 04:22:17,NaN,NaN,0,65,NaN,NaN,"Unassigned, Kansas, US",NaN,NaN
2185,90028.0,Unassigned,Mississippi,US,2022-01-04 04:22:17,NaN,NaN,0,0,NaN,NaN,"Unassigned, Mississippi, US",NaN,NaN
3917,90055.0,Unassigned,Wisconsin,US,2022-01-04 04:22:17,NaN,NaN,0,0,NaN,NaN,"Unassigned, Wisconsin, US",NaN,NaN
1852,80022.0,Out of LA,Louisiana,US,2022-01-04 04:22:17,NaN,NaN,0,0,NaN,NaN,"Out of LA, Louisiana, US",NaN,NaN
746,2060.0,Bristol Bay,Alaska,US,2022-01-04 04:22:17,58.745140,-156.701064,0,0,NaN,NaN,"Bristol Bay, Alaska, US",0.000000,NaN
3748,90051.0,Unassigned,Virginia,US,2020-12-21 13:27:30,NaN,NaN,0,0,NaN,NaN,"Unassigned, Virginia, US",NaN,NaN
769,2261.0,Valdez-Cordova,Alaska,US,2022-01-04 04:22:17,61.475028,-144.712680,0,0,NaN,NaN,"Valdez-Cordova, Alaska, US",0.000000,NaN
974,80008.0,Out of CO,Colorado,US,2022-01-04 04:22:17,NaN,NaN,0,0,NaN,NaN,"Out of CO, Colorado, US",NaN,NaN
3847,90054.0,Unassigned,West Virginia,US,2021-07-31 23:21:38,NaN,NaN,0,0,NaN,NaN,"Unassigned, West Virginia, US",NaN,NaN
737,90001.0,Unassigned,Alabama,US,2020-12-21 13:27:30,NaN,NaN,0,0,NaN,NaN,"Unassigned, Alabama, US",NaN,NaN
2848,90039.0,Unassigned,Ohio,US,2022-01-04 04:22:17,NaN,NaN,0,5,NaN,NaN,"Unassigned, Ohio, US",NaN,NaN
725,80001.0,Out of AL,Alabama,US,2020-12-21 13:27:30,NaN,NaN,0,0,NaN,NaN,"Out of AL, Alabama, US",NaN,NaN
2763,90038.0,Unassigned,North Dakota,US,2022-01-04 04:22:17,NaN,NaN,0,45,NaN,NaN,"Unassigned, North Dakota, US",NaN,NaN
1287,90016.0,Unassigned,Idaho,US,2022-01-04 04:22:17,NaN,NaN,0,0,NaN,NaN,"Unassigned, Idaho, US",NaN,NaN
1920,90024.0,Unassigned,Maryland,US,2022-01-04 04:22:17,NaN,NaN,0,203,NaN,NaN,"Unassigned, Maryland, US",NaN,39.494163

### Create a DataFrame for Country Level Analysis

Create a new DataFrame, `df_countries`, that aggregates the data within each country together to get a DataFrame that contains one row for each country:

In [5]:
g = df.groupby("Country_Region").agg("sum").reset_index()
df_countries = g.sort_values(by="Confirmed", ascending=False)
df_countries

,Country_Region,FIPS,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incident_Rate,Case_Fatality_Ratio
186,US,105902623.0,121693.134039,-293352.619164,56438967,828270,0.0,0.0,5.576002e+07,7600.185927
80,India,0.0,831.177882,2945.020567,34960261,482017,0.0,0.0,1.537603e+05,46.956740
24,Brazil,0.0,-342.077100,-1308.973300,22309081,619473,0.0,0.0,3.272539e+05,66.658983
190,United Kingdom,0.0,496.754894,-642.546956,13498751,178396,0.0,0.0,1.993084e+05,11.388305
63,France,0.0,77.169695,-416.763414,10422830,125200,0.0,0.0,1.306596e+05,13.176218
147,Russia,0.0,4527.343882,5156.031399,10374292,305096,0.0,0.0,5.899722e+05,250.391796
184,Turkey,0.0,38.963700,35.243300,9597670,82795,0.0,0.0,1.138220e+04,0.862480
67,Germany,0.0,825.149500,164.446100,7129500,111602,0.0,0.0,1.400206e+05,25.414232
167,Spain,0.0,755.510158,-69.972552,6667511,89573,0.0,0.0,2.679851e+05,24.964501
86,Italy,0.0,903.972147,256.745065,6396110,137786,0.0,0.0,2.178439e+05,44.653120
82,Iran,0.0,32.427908,53.688046,6198590,131702,0.0,0.0,7.379893e+03,2.124709
7,Argentina,0.0,-38.416100,-63.616700,5739326,117245,0.0,0.0,1.269881e+04,2.042836
38,Colombia,0.0,176.521600,-2448.296300,5191021,130061,0.0,0.0,2.688351e+05,91.245576
81,Indonesia,0.0,-0.789300,113.921300,4263433,144102,0.0,0.0,1.558707e+03,3.379952
143,Poland,0.0,51.919400,19.145100,4133851,97601,0.0,0.0,1.092265e+04,2.361019
117,Mexico,0.0,695.047500,-3216.873200,3993464,299581,0.0,0.0,1.019636e+05,267.131987
188,Ukraine,0.0,1318.826600,831.094400,3856359,102558,0.0,0.0,2.427613e+05,74.057612
165,South Africa,0.0,-30.559500,22.937500,3475512,91312,0.0,0.0,5.860038e+03,2.627296
128,Netherlands,0.0,682.008776,-203.678156,3234143,21439,0.0,0.0,2.675149e+05,11.288161
142,Philippines,0.0,12.879721,121.774017,2855819,51586,0.0,0.0,2.606124e+03,1.806347
110,Malaysia,0.0,66.174400,1665.209500,2767044,31560,0.0,0.0,1.299151e+05,17.663864
47,Czechia,0.0,49.817500,15.473000,2483762,36255,0.0,0.0,2.319326e+04,1.459681
33,Canada,0.0,708.855600,-1202.597900,2323056,30400,0.0,0.0,5.621980e+04,11.988604
141,Peru,0.0,-265.933101,-1881.943595,2304674,202818,0.0,0.0,1.640096e+05,205.400435
178,Thailand,0.0,15.870032,100.992541,2232485,21738,0.0,0.0,3.198404e+03,0.973713
17,Belgium,0.0,557.811200,50.113600,2133284,28385,0.0,0.0,2.062978e+05,80.142865
83,Iraq,0.0,33.223191,43.679291,2094349,24174,0.0,0.0,5.206909e+03,1.154249
146,Romania,0.0,45.943200,24.966800,1813056,58814,0.0,0.0,9.424503e+03,3.243915
36,Chile,0.0,-549.894900,-1141.193100,1811297,39173,0.0,0.0,1.767127e+05,28.430872
195,Vietnam,0.0,14.058324,108.277199,1778976,33021,0.0,0.0,1.827616e+03,1.856180
...,...,...,...,...,...,...,...,...,...,...
39,Comoros,0.0,-11.645500,43.333300,6907,158,0.0,0.0,7.942778e+02,2.287534
51,Dominica,0.0,15.415000,-61.371000,6862,47,0.0,0.0,9.531747e+03,0.684932
73,Guinea-Bissau,0.0,11.803700,-15.180400,6499,149,0.0,0.0,3.302341e+02,2.292660
70,Grenada,0.0,12.116500,-61.679000,6338,200,0.0,0.0,5.632826e+03,3.155570
102,Liberia,0.0,6.428055,-9.429499,6278,287,0.0,0.0,1.241281e+02,4.571520
104,Liechtenstein,0.0,47.140000,9.550000,6236,71,0.0,0.0,1.635157e+04,1.138550
35,Chad,0.0,15.454200,18.732200,6183,184,0.0,0.0,3.764187e+01,2.975902
151,Saint Vincent and the Grenadines,0.0,12.984300,-61.287200,5991,83,0.0,0.0,5.399876e+03,1.385411
120,Monaco,0.0,43.733300,7.416700,4985,39,0.0,0.0,1.270258e+04,0.782347
6,Antigua and Barbuda,0.0,17.060800,-61.796400,4283,119,0.0,0.0,4.373621e+03,2.778426
154,Sao Tome and Principe,0.0,0.186400,6.613100,3945,58,0.0,0.0,1.800047e+03,1.470215
149,Saint Kitts and Nevis,0.0,17.357822,-62.782998,3252,28,0.0,0.0,6.113701e+03,0.861009
20,Bhutan,0.0,27.514200,90.433600,2664,3,0.0,0.0,3.452512e+02,0.112613
170,Summer Olympics 2020,0.0,35.649100,139.773700,865,0,0.0,0.0,0.000000e+00,0.000000
49,Diamond Princess,0.0,0.000000,0.000000,712,13,0.0,0.0,0.000000e+00,1.825843
76,Holy See,0.0,41.902900,12.453400,27,0,0.0,0.0,3.337454e+03,0.000000
163,Solomon Islands,0.0,-9.645700,160.156200,24,0,0.0,0.0,3.676144e+00,0.000000
137,Palau,0.0,7.515000,134.582500,13,0,0.0,0.0,4.442470e+01,0.000000
5,Antarctica,0.0,-71.949900,23.347000,11,0,0.0,0.0,0.000000e+00,0.000000
107,MS Zaandam,0.0,0.000000,0.000000,9,2,0.0,0.0,0.000000e+00,22.222222
193,Vanuatu,0.0,-15.376700,166.959200,7,1,0.0,0.0,2.391691e+00,14.285714
114,Marshall Islands,0.0,7.131500,171.184500,4,0,0.0,0.0,6.847791e+00,0.000000
152,Samoa,0.0,-13.759000,-172.104600,3,0,0.0,0.0,1.529598e+00,0.000000
92,Kiribati,0.0,-3.370400,-168.734000,2,0,0.0,0.0,1.700594e+00,0.000000
118,Micronesia,0.0,7.425600,150.550800,1,0,0.0,0.0,8.786188e-01,0.000000
181,Tonga,0.0,-21.179000,-175.198200,1,0,0.0,0.0,9.461006e-01,0.000000
93,"Korea, North",0.0,40.339900,127.510100,0,0,0.0,0.0,0.000000e+00,0.000000
126,Nauru,0.0,-0.522800,166.931500,0,0,0.0,0.0,0.000000e+00,0.000000
197,Winter Olympics 2022,0.0,39.904200,116.407400,0,0,0.0,0.0,0.000000e+00,0.000000
185,Tuvalu,0.0,-7.109500,177.649300,0,0,0.0,0.0,0.000000e+00,0.000000

### Performing Country-Level Analysis

Create a DataFrame called `df_most_cases` that contains the country which has had the most confirmed cases of COVID-19:

In [6]:
df_most_cases = df_countries.nlargest(1, "Confirmed")
df_most_cases

,Country_Region,FIPS,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incident_Rate,Case_Fatality_Ratio
186,US,105902623.0,121693.134039,-293352.619164,56438967,828270,0.0,0.0,5.576002e+07,7600.185927

### ðŸ”¬ Checkpoint Tests ðŸ”¬

In [7]:
## == CHECKPOINT TESTS ==
# - This read-only cell contains a "checkpoint" for this section of the MicroProejct and verifies you are on the right track.
# - If this cell results in a celebration message, you PASSED all test cases!
# - If this cell results in any errors, check you previous cells, make changes, and RE-RUN your code and then this cell.
tada = "\N{PARTY POPPER}"

assert("df_us" in vars())
assert("Province_State" in df_us)

assert("df_us_sorted" in vars())
assert(df_us_sorted.iloc[:,-7].values[2] <= df_us_sorted.iloc[:,-7].values[1])
assert(df_us_sorted.iloc[:,-7].values[10] <= df_us_sorted.iloc[:,-7].values[9])
assert(df_us_sorted["Confirmed"].values[0]) == max(df_us["Confirmed"])

assert("df_countries" in vars())
assert(df_countries["Confirmed"].sum() == df["Confirmed"].cumsum().values[len(df) - 1])

assert("df_most_cases" in vars())
assert(len(df_most_cases) == 1)
assert(len(df_most_cases.iloc[0]["Country_Region"]) == 2)

print(f"{tada} All Tests Passed! {tada}")

ðŸŽ‰ All Tests Passed! ðŸŽ‰

<hr style="color: #DD3403;">

## Checking for the Pareto principle

The Pareto principle states that *"for many outcomes, roughly 80% of consequences come from 20% of causes (the "vital few")"* ([See more on Wikipedia: Pareto principle](https://en.wikipedia.org/wiki/Pareto_principle)).  This is also known as the "80-20 rule" and appears often in Data Science.

In terms of COVID-19 cases, the application of the Pareto principle would be that **80% of confirmed cases comes from just 20% of countries**.  Is this true?

To test this, we need to find total number of cases across all countries.  Compute the total number of confirmed cases in the variable `confirmed_total` (this should be a number, not a DataFrame):

In [8]:
confirmed_total = sum(df_countries["Confirmed"])
confirmed_total

293190116

Using a bit of math, 80% of the total number of confirmed cases would be:

In [9]:
confirmed_80pct = confirmed_total * 0.8
confirmed_80pct

234552092.8

### Finding the Cumulative Sum of Cases

DataFrames provides the function "cumulative sum" function, or `df.cumsum(...)`, that allows us to calculate the sum of every row up until and including the current row.

Read the DISCOVERY guide to learn the syntax on "What is the Cumulative Sum of a pandas DataFrame?" to find out more on using the cumulative sum function:
- [Guide: "What is the Cumulative Sum of a pandas DataFrame?"](https://discovery.cs.illinois.edu/guides/DataFrame-Fundamentals/Cumulative-Sum-in-pandas/)

Before finding the cumulative sum, we need to have a sorted DataFrame of all countries in descending order.  Use `df_countries` to create a DataFrame sorted by confirmed cases in the variable `df_countries_sorted`:

In [10]:
df_countries_sorted = df_countries.sort_values(by="Confirmed", ascending=False)
df_countries_sorted

,Country_Region,FIPS,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incident_Rate,Case_Fatality_Ratio
186,US,105902623.0,121693.134039,-293352.619164,56438967,828270,0.0,0.0,5.576002e+07,7600.185927
80,India,0.0,831.177882,2945.020567,34960261,482017,0.0,0.0,1.537603e+05,46.956740
24,Brazil,0.0,-342.077100,-1308.973300,22309081,619473,0.0,0.0,3.272539e+05,66.658983
190,United Kingdom,0.0,496.754894,-642.546956,13498751,178396,0.0,0.0,1.993084e+05,11.388305
63,France,0.0,77.169695,-416.763414,10422830,125200,0.0,0.0,1.306596e+05,13.176218
147,Russia,0.0,4527.343882,5156.031399,10374292,305096,0.0,0.0,5.899722e+05,250.391796
184,Turkey,0.0,38.963700,35.243300,9597670,82795,0.0,0.0,1.138220e+04,0.862480
67,Germany,0.0,825.149500,164.446100,7129500,111602,0.0,0.0,1.400206e+05,25.414232
167,Spain,0.0,755.510158,-69.972552,6667511,89573,0.0,0.0,2.679851e+05,24.964501
86,Italy,0.0,903.972147,256.745065,6396110,137786,0.0,0.0,2.178439e+05,44.653120
82,Iran,0.0,32.427908,53.688046,6198590,131702,0.0,0.0,7.379893e+03,2.124709
7,Argentina,0.0,-38.416100,-63.616700,5739326,117245,0.0,0.0,1.269881e+04,2.042836
38,Colombia,0.0,176.521600,-2448.296300,5191021,130061,0.0,0.0,2.688351e+05,91.245576
81,Indonesia,0.0,-0.789300,113.921300,4263433,144102,0.0,0.0,1.558707e+03,3.379952
143,Poland,0.0,51.919400,19.145100,4133851,97601,0.0,0.0,1.092265e+04,2.361019
117,Mexico,0.0,695.047500,-3216.873200,3993464,299581,0.0,0.0,1.019636e+05,267.131987
188,Ukraine,0.0,1318.826600,831.094400,3856359,102558,0.0,0.0,2.427613e+05,74.057612
165,South Africa,0.0,-30.559500,22.937500,3475512,91312,0.0,0.0,5.860038e+03,2.627296
128,Netherlands,0.0,682.008776,-203.678156,3234143,21439,0.0,0.0,2.675149e+05,11.288161
142,Philippines,0.0,12.879721,121.774017,2855819,51586,0.0,0.0,2.606124e+03,1.806347
110,Malaysia,0.0,66.174400,1665.209500,2767044,31560,0.0,0.0,1.299151e+05,17.663864
47,Czechia,0.0,49.817500,15.473000,2483762,36255,0.0,0.0,2.319326e+04,1.459681
33,Canada,0.0,708.855600,-1202.597900,2323056,30400,0.0,0.0,5.621980e+04,11.988604
141,Peru,0.0,-265.933101,-1881.943595,2304674,202818,0.0,0.0,1.640096e+05,205.400435
178,Thailand,0.0,15.870032,100.992541,2232485,21738,0.0,0.0,3.198404e+03,0.973713
17,Belgium,0.0,557.811200,50.113600,2133284,28385,0.0,0.0,2.062978e+05,80.142865
83,Iraq,0.0,33.223191,43.679291,2094349,24174,0.0,0.0,5.206909e+03,1.154249
146,Romania,0.0,45.943200,24.966800,1813056,58814,0.0,0.0,9.424503e+03,3.243915
36,Chile,0.0,-549.894900,-1141.193100,1811297,39173,0.0,0.0,1.767127e+05,28.430872
195,Vietnam,0.0,14.058324,108.277199,1778976,33021,0.0,0.0,1.827616e+03,1.856180
...,...,...,...,...,...,...,...,...,...,...
39,Comoros,0.0,-11.645500,43.333300,6907,158,0.0,0.0,7.942778e+02,2.287534
51,Dominica,0.0,15.415000,-61.371000,6862,47,0.0,0.0,9.531747e+03,0.684932
73,Guinea-Bissau,0.0,11.803700,-15.180400,6499,149,0.0,0.0,3.302341e+02,2.292660
70,Grenada,0.0,12.116500,-61.679000,6338,200,0.0,0.0,5.632826e+03,3.155570
102,Liberia,0.0,6.428055,-9.429499,6278,287,0.0,0.0,1.241281e+02,4.571520
104,Liechtenstein,0.0,47.140000,9.550000,6236,71,0.0,0.0,1.635157e+04,1.138550
35,Chad,0.0,15.454200,18.732200,6183,184,0.0,0.0,3.764187e+01,2.975902
151,Saint Vincent and the Grenadines,0.0,12.984300,-61.287200,5991,83,0.0,0.0,5.399876e+03,1.385411
120,Monaco,0.0,43.733300,7.416700,4985,39,0.0,0.0,1.270258e+04,0.782347
6,Antigua and Barbuda,0.0,17.060800,-61.796400,4283,119,0.0,0.0,4.373621e+03,2.778426
154,Sao Tome and Principe,0.0,0.186400,6.613100,3945,58,0.0,0.0,1.800047e+03,1.470215
149,Saint Kitts and Nevis,0.0,17.357822,-62.782998,3252,28,0.0,0.0,6.113701e+03,0.861009
20,Bhutan,0.0,27.514200,90.433600,2664,3,0.0,0.0,3.452512e+02,0.112613
170,Summer Olympics 2020,0.0,35.649100,139.773700,865,0,0.0,0.0,0.000000e+00,0.000000
49,Diamond Princess,0.0,0.000000,0.000000,712,13,0.0,0.0,0.000000e+00,1.825843
76,Holy See,0.0,41.902900,12.453400,27,0,0.0,0.0,3.337454e+03,0.000000
163,Solomon Islands,0.0,-9.645700,160.156200,24,0,0.0,0.0,3.676144e+00,0.000000
137,Palau,0.0,7.515000,134.582500,13,0,0.0,0.0,4.442470e+01,0.000000
5,Antarctica,0.0,-71.949900,23.347000,11,0,0.0,0.0,0.000000e+00,0.000000
107,MS Zaandam,0.0,0.000000,0.000000,9,2,0.0,0.0,0.000000e+00,22.222222
193,Vanuatu,0.0,-15.376700,166.959200,7,1,0.0,0.0,2.391691e+00,14.285714
114,Marshall Islands,0.0,7.131500,171.184500,4,0,0.0,0.0,6.847791e+00,0.000000
152,Samoa,0.0,-13.759000,-172.104600,3,0,0.0,0.0,1.529598e+00,0.000000
92,Kiribati,0.0,-3.370400,-168.734000,2,0,0.0,0.0,1.700594e+00,0.000000
118,Micronesia,0.0,7.425600,150.550800,1,0,0.0,0.0,8.786188e-01,0.000000
181,Tonga,0.0,-21.179000,-175.198200,1,0,0.0,0.0,9.461006e-01,0.000000
93,"Korea, North",0.0,40.339900,127.510100,0,0,0.0,0.0,0.000000e+00,0.000000
126,Nauru,0.0,-0.522800,166.931500,0,0,0.0,0.0,0.000000e+00,0.000000
197,Winter Olympics 2022,0.0,39.904200,116.407400,0,0,0.0,0.0,0.000000e+00,0.000000
185,Tuvalu,0.0,-7.109500,177.649300,0,0,0.0,0.0,0.000000e+00,0.000000

Using `df_countries_sorted`, create a new column called `Cumulative Confirmed` that contains the cumulative sum of the Confirmed cases:

In [11]:
df_countries_sorted["Cumulative Confirmed"] = df_countries_sorted["Confirmed"].cumsum()
df_countries_sorted

,Country_Region,FIPS,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incident_Rate,Case_Fatality_Ratio,Cumulative Confirmed
186,US,105902623.0,121693.134039,-293352.619164,56438967,828270,0.0,0.0,5.576002e+07,7600.185927,56438967
80,India,0.0,831.177882,2945.020567,34960261,482017,0.0,0.0,1.537603e+05,46.956740,91399228
24,Brazil,0.0,-342.077100,-1308.973300,22309081,619473,0.0,0.0,3.272539e+05,66.658983,113708309
190,United Kingdom,0.0,496.754894,-642.546956,13498751,178396,0.0,0.0,1.993084e+05,11.388305,127207060
63,France,0.0,77.169695,-416.763414,10422830,125200,0.0,0.0,1.306596e+05,13.176218,137629890
147,Russia,0.0,4527.343882,5156.031399,10374292,305096,0.0,0.0,5.899722e+05,250.391796,148004182
184,Turkey,0.0,38.963700,35.243300,9597670,82795,0.0,0.0,1.138220e+04,0.862480,157601852
67,Germany,0.0,825.149500,164.446100,7129500,111602,0.0,0.0,1.400206e+05,25.414232,164731352
167,Spain,0.0,755.510158,-69.972552,6667511,89573,0.0,0.0,2.679851e+05,24.964501,171398863
86,Italy,0.0,903.972147,256.745065,6396110,137786,0.0,0.0,2.178439e+05,44.653120,177794973
82,Iran,0.0,32.427908,53.688046,6198590,131702,0.0,0.0,7.379893e+03,2.124709,183993563
7,Argentina,0.0,-38.416100,-63.616700,5739326,117245,0.0,0.0,1.269881e+04,2.042836,189732889
38,Colombia,0.0,176.521600,-2448.296300,5191021,130061,0.0,0.0,2.688351e+05,91.245576,194923910
81,Indonesia,0.0,-0.789300,113.921300,4263433,144102,0.0,0.0,1.558707e+03,3.379952,199187343
143,Poland,0.0,51.919400,19.145100,4133851,97601,0.0,0.0,1.092265e+04,2.361019,203321194
117,Mexico,0.0,695.047500,-3216.873200,3993464,299581,0.0,0.0,1.019636e+05,267.131987,207314658
188,Ukraine,0.0,1318.826600,831.094400,3856359,102558,0.0,0.0,2.427613e+05,74.057612,211171017
165,South Africa,0.0,-30.559500,22.937500,3475512,91312,0.0,0.0,5.860038e+03,2.627296,214646529
128,Netherlands,0.0,682.008776,-203.678156,3234143,21439,0.0,0.0,2.675149e+05,11.288161,217880672
142,Philippines,0.0,12.879721,121.774017,2855819,51586,0.0,0.0,2.606124e+03,1.806347,220736491
110,Malaysia,0.0,66.174400,1665.209500,2767044,31560,0.0,0.0,1.299151e+05,17.663864,223503535
47,Czechia,0.0,49.817500,15.473000,2483762,36255,0.0,0.0,2.319326e+04,1.459681,225987297
33,Canada,0.0,708.855600,-1202.597900,2323056,30400,0.0,0.0,5.621980e+04,11.988604,228310353
141,Peru,0.0,-265.933101,-1881.943595,2304674,202818,0.0,0.0,1.640096e+05,205.400435,230615027
178,Thailand,0.0,15.870032,100.992541,2232485,21738,0.0,0.0,3.198404e+03,0.973713,232847512
17,Belgium,0.0,557.811200,50.113600,2133284,28385,0.0,0.0,2.062978e+05,80.142865,234980796
83,Iraq,0.0,33.223191,43.679291,2094349,24174,0.0,0.0,5.206909e+03,1.154249,237075145
146,Romania,0.0,45.943200,24.966800,1813056,58814,0.0,0.0,9.424503e+03,3.243915,238888201
36,Chile,0.0,-549.894900,-1141.193100,1811297,39173,0.0,0.0,1.767127e+05,28.430872,240699498
195,Vietnam,0.0,14.058324,108.277199,1778976,33021,0.0,0.0,1.827616e+03,1.856180,242478474
...,...,...,...,...,...,...,...,...,...,...,...
39,Comoros,0.0,-11.645500,43.333300,6907,158,0.0,0.0,7.942778e+02,2.287534,293124921
51,Dominica,0.0,15.415000,-61.371000,6862,47,0.0,0.0,9.531747e+03,0.684932,293131783
73,Guinea-Bissau,0.0,11.803700,-15.180400,6499,149,0.0,0.0,3.302341e+02,2.292660,293138282
70,Grenada,0.0,12.116500,-61.679000,6338,200,0.0,0.0,5.632826e+03,3.155570,293144620
102,Liberia,0.0,6.428055,-9.429499,6278,287,0.0,0.0,1.241281e+02,4.571520,293150898
104,Liechtenstein,0.0,47.140000,9.550000,6236,71,0.0,0.0,1.635157e+04,1.138550,293157134
35,Chad,0.0,15.454200,18.732200,6183,184,0.0,0.0,3.764187e+01,2.975902,293163317
151,Saint Vincent and the Grenadines,0.0,12.984300,-61.287200,5991,83,0.0,0.0,5.399876e+03,1.385411,293169308
120,Monaco,0.0,43.733300,7.416700,4985,39,0.0,0.0,1.270258e+04,0.782347,293174293
6,Antigua and Barbuda,0.0,17.060800,-61.796400,4283,119,0.0,0.0,4.373621e+03,2.778426,293178576
154,Sao Tome and Principe,0.0,0.186400,6.613100,3945,58,0.0,0.0,1.800047e+03,1.470215,293182521
149,Saint Kitts and Nevis,0.0,17.357822,-62.782998,3252,28,0.0,0.0,6.113701e+03,0.861009,293185773
20,Bhutan,0.0,27.514200,90.433600,2664,3,0.0,0.0,3.452512e+02,0.112613,293188437
170,Summer Olympics 2020,0.0,35.649100,139.773700,865,0,0.0,0.0,0.000000e+00,0.000000,293189302
49,Diamond Princess,0.0,0.000000,0.000000,712,13,0.0,0.0,0.000000e+00,1.825843,293190014
76,Holy See,0.0,41.902900,12.453400,27,0,0.0,0.0,3.337454e+03,0.000000,293190041
163,Solomon Islands,0.0,-9.645700,160.156200,24,0,0.0,0.0,3.676144e+00,0.000000,293190065
137,Palau,0.0,7.515000,134.582500,13,0,0.0,0.0,4.442470e+01,0.000000,293190078
5,Antarctica,0.0,-71.949900,23.347000,11,0,0.0,0.0,0.000000e+00,0.000000,293190089
107,MS Zaandam,0.0,0.000000,0.000000,9,2,0.0,0.0,0.000000e+00,22.222222,293190098
193,Vanuatu,0.0,-15.376700,166.959200,7,1,0.0,0.0,2.391691e+00,14.285714,293190105
114,Marshall Islands,0.0,7.131500,171.184500,4,0,0.0,0.0,6.847791e+00,0.000000,293190109
152,Samoa,0.0,-13.759000,-172.104600,3,0,0.0,0.0,1.529598e+00,0.000000,293190112
92,Kiribati,0.0,-3.370400,-168.734000,2,0,0.0,0.0,1.700594e+00,0.000000,293190114
118,Micronesia,0.0,7.425600,150.550800,1,0,0.0,0.0,8.786188e-01,0.000000,293190115
181,Tonga,0.0,-21.179000,-175.198200,1,0,0.0,0.0,9.461006e-01,0.000000,293190116
93,"Korea, North",0.0,40.339900,127.510100,0,0,0.0,0.0,0.000000e+00,0.000000,293190116
126,Nauru,0.0,-0.522800,166.931500,0,0,0.0,0.0,0.000000e+00,0.000000,293190116
197,Winter Olympics 2022,0.0,39.904200,116.407400,0,0,0.0,0.0,0.000000e+00,0.000000,293190116
185,Tuvalu,0.0,-7.109500,177.649300,0,0,0.0,0.0,0.000000e+00,0.000000,293190116

Finally, create a DataFrame called `df_80pct` with all the countries up to the country that, cumulatively, account for 80% of the global cases (remember, that's the cases you stored in `confirmed_80pct`):

In [12]:
df_80pct = df_countries_sorted[df_countries_sorted["Cumulative Confirmed"] <= confirmed_80pct]
df_80pct

,Country_Region,FIPS,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incident_Rate,Case_Fatality_Ratio,Cumulative Confirmed
186,US,105902623.0,121693.134039,-293352.619164,56438967,828270,0.0,0.0,5.576002e+07,7600.185927,56438967
80,India,0.0,831.177882,2945.020567,34960261,482017,0.0,0.0,1.537603e+05,46.956740,91399228
24,Brazil,0.0,-342.077100,-1308.973300,22309081,619473,0.0,0.0,3.272539e+05,66.658983,113708309
190,United Kingdom,0.0,496.754894,-642.546956,13498751,178396,0.0,0.0,1.993084e+05,11.388305,127207060
63,France,0.0,77.169695,-416.763414,10422830,125200,0.0,0.0,1.306596e+05,13.176218,137629890
147,Russia,0.0,4527.343882,5156.031399,10374292,305096,0.0,0.0,5.899722e+05,250.391796,148004182
184,Turkey,0.0,38.963700,35.243300,9597670,82795,0.0,0.0,1.138220e+04,0.862480,157601852
67,Germany,0.0,825.149500,164.446100,7129500,111602,0.0,0.0,1.400206e+05,25.414232,164731352
167,Spain,0.0,755.510158,-69.972552,6667511,89573,0.0,0.0,2.679851e+05,24.964501,171398863
86,Italy,0.0,903.972147,256.745065,6396110,137786,0.0,0.0,2.178439e+05,44.653120,177794973
82,Iran,0.0,32.427908,53.688046,6198590,131702,0.0,0.0,7.379893e+03,2.124709,183993563
7,Argentina,0.0,-38.416100,-63.616700,5739326,117245,0.0,0.0,1.269881e+04,2.042836,189732889
38,Colombia,0.0,176.521600,-2448.296300,5191021,130061,0.0,0.0,2.688351e+05,91.245576,194923910
81,Indonesia,0.0,-0.789300,113.921300,4263433,144102,0.0,0.0,1.558707e+03,3.379952,199187343
143,Poland,0.0,51.919400,19.145100,4133851,97601,0.0,0.0,1.092265e+04,2.361019,203321194
117,Mexico,0.0,695.047500,-3216.873200,3993464,299581,0.0,0.0,1.019636e+05,267.131987,207314658
188,Ukraine,0.0,1318.826600,831.094400,3856359,102558,0.0,0.0,2.427613e+05,74.057612,211171017
165,South Africa,0.0,-30.559500,22.937500,3475512,91312,0.0,0.0,5.860038e+03,2.627296,214646529
128,Netherlands,0.0,682.008776,-203.678156,3234143,21439,0.0,0.0,2.675149e+05,11.288161,217880672
142,Philippines,0.0,12.879721,121.774017,2855819,51586,0.0,0.0,2.606124e+03,1.806347,220736491
110,Malaysia,0.0,66.174400,1665.209500,2767044,31560,0.0,0.0,1.299151e+05,17.663864,223503535
47,Czechia,0.0,49.817500,15.473000,2483762,36255,0.0,0.0,2.319326e+04,1.459681,225987297
33,Canada,0.0,708.855600,-1202.597900,2323056,30400,0.0,0.0,5.621980e+04,11.988604,228310353
141,Peru,0.0,-265.933101,-1881.943595,2304674,202818,0.0,0.0,1.640096e+05,205.400435,230615027
178,Thailand,0.0,15.870032,100.992541,2232485,21738,0.0,0.0,3.198404e+03,0.973713,232847512

### Does the Pareto Principle show up?

Currently:
- `df_countries` contains EVERY country in the world with COVID-19 data, and
- `df_80pct` contains countries that make up 80% of the cases.

If the Pareto principle applies to the confirmed cases of COVID-19, then we expect that `df_80pct` holds only approximately 20% of all the countries.  Let's see:

In [13]:
pct_cases = 100 * sum(df_80pct["Confirmed"]) / sum(df_countries["Confirmed"])
pct_cases = round(pct_cases, 2)

pct_countries = 100 * len(df_80pct) / len(df_countries)
pct_countries = round(pct_countries, 2)

print(f"Result: {pct_cases}% of the COVID-19 cases comes from {pct_countries}% of the countries in the dataset.")

Result: 79.42% of the COVID-19 cases comes from 12.44% of the countries in the dataset.

### ðŸ”¬ Checkpoint Tests ðŸ”¬

In [14]:
## == CHECKPOINT TESTS ==
# - This read-only cell contains a "checkpoint" for this section of the MicroProejct and verifies you are on the right track.
# - If this cell results in a celebration message, you PASSED all test cases!
# - If this cell results in any errors, check you previous cells, make changes, and RE-RUN your code and then this cell.
tada = "\N{PARTY POPPER}"

assert("confirmed_total" in vars())
assert("confirmed_80pct" in vars())
assert(confirmed_total > 2.9e8)
                         
assert("df_countries_sorted" in vars())
assert("Cumulative Confirmed" in df_countries_sorted)
assert("Admin2" not in df_countries_sorted)
assert(max(df_countries_sorted["Cumulative Confirmed"]) == sum(df_countries_sorted["Confirmed"]))
assert(min(df_countries_sorted["Cumulative Confirmed"]) == df_countries_sorted.iloc[0]["Confirmed"])

assert("df_80pct" in vars())
assert("US" in df_80pct["Country_Region"].unique())
assert("India" in df_80pct["Country_Region"].unique())
assert("Tonga" not in df_80pct["Country_Region"].unique())

assert(sum(df_80pct["Confirmed"]) / sum(df_countries["Confirmed"]) > 0.7)
assert(sum(df_80pct["Confirmed"]) / sum(df_countries["Confirmed"]) < 0.9)

assert(len(df_80pct["Confirmed"]) / len(df_countries["Confirmed"]) > 0.1)
assert(len(df_80pct["Confirmed"]) / len(df_countries["Confirmed"]) < 0.2)

print(f"{tada} All Tests Passed! {tada}")

ðŸŽ‰ All Tests Passed! ðŸŽ‰

<hr style="color: #DD3403;">

## Submission

You're almost done!  All you need to do is to commit your lab to GitHub and run the GitHub Actions Grader:

1.  âš ï¸ **Make certain to save your work.** âš ï¸ To do this, go to **File => Save All**

2.  After you have saved, exit this notebook and follow the instructions to commit and grade this MicroProject on GitHub!