<h1 style="text-align: center">
<div style="color: #DD3403; font-size: 60%">Data Science DISCOVERY MicroProject</div>
<span style="">MicroProject: Highest Mountains in the World</span>
<div style="font-size: 60%;"><a href="https://discovery.cs.illinois.edu/microproject/highest-mountain/">https://discovery.cs.illinois.edu/microproject/highest-mountain/</a></div>
</h1>

<hr style="color: #DD3403;">

## Data Source: Wikipedia's "List of mountains by elevation"

Wikipedia is an absolutely amazing source of information about almost every topic you can imagine!  In this microproject, you will explore how to easily use data in Wikipedia tables as datasets.

The Wikipedia article "[List of mountains by elevation](https://en.wikipedia.org/wiki/List_of_mountains_by_elevation)" (https://en.wikipedia.org/wiki/List_of_mountains_by_elevation) contains information on hundreds of mountains -- including Mount Everest (tallest in the world), Denali (tallest in the United States), and many more!
- Click the link above [(or right here)]((https://en.wikipedia.org/wiki/List_of_mountains_by_elevation)" (https://en.wikipedia.org/wiki/List_of_mountains_by_elevation)) to view how the Wikipedia page looks in your web browser!

### Using pandas `read_html` function

The `pd.read_html(...)` function in the pandas library is designed to read data from tables found in webpages.
- `read_html` is very similar to the more commonly used `read_csv`
- Instead of returning a DataFrame like `read_csv`, the `read_html` returns a **list of DataFrames** -- one DataFrame for each table!
- Just like `read_csv`, you only need to provide the URL of the data!

Import `pandas` and create a new variable called `pages` the reads in all of tables on the Wikipedia page  "[List of mountains by elevation](https://en.wikipedia.org/wiki/List_of_mountains_by_elevation)":

In [6]:
import pandas as pd
pages = pd.read_html('https://en.wikipedia.org/wiki/List_of_mountains_by_elevation', header=0)
pages

[                          Mountain  Metres   Feet      Range  \
 0                    Mount Everest    8848  29029  Himalayas
 1                               K2    8612  28255  Karakoram
 2                    Kangchenjunga    8586  28169  Himalayas
 3                           Lhotse    8516  27940  Himalayas
 4                           Makalu    8485  27838  Himalayas
 5                          Cho Oyu    8188  26864  Himalayas
 6                       Dhaulagiri    8167  26795  Himalayas
 7                          Manaslu    8163  26781  Himalayas
 8                     Nanga Parbat    8126  26660  Himalayas
 9                        Annapurna    8091  26545  Himalayas
 10  Gasherbrum I (Hidden peak; K5)    8080  26509  Karakoram
 11                      Broad Peak    8051  26414  Karakoram
 12              Gasherbrum II (K4)    8035  26362  Karakoram
 13                    Shishapangma    8027  26335  Himalayas

                                    Location and Notes
 0                                         Nepal/China
 1                                      Pakistan/China
 2                                         Nepal/India
 3   Nepal – Climbers ascend Lhotse Face in climbin...
 4                                               Nepal
 5       Nepal – Considered "easiest" eight-thousander
 6     Nepal – Presumed world's highest from 1808-1838
 7                                               Nepal
 8                                            Pakistan
 9   Nepal – First eight-thousander to be climbed (...
 10               Pakistan/China – Originally named K5
 11                                     Pakistan/China
 12               Pakistan/China – Originally named K4
 13                                              China  ,
                Mountain  Metres   Feet                      Range  \
 0        Gasherbrum III    7952  26089                  Karakoram
 1         Gyachung Kang    7952  26089                  Himalayas
 2          Annapurna II    7937  26040                  Himalayas
 3    Gasherbrum IV (K3)    7932  26024                  Karakoram
 4            Himalchuli    7893  25896                  Himalayas
 5         Distaghil Sar    7885  25869                  Karakoram
 6           Ngadi Chuli    7871  25823                  Himalayas
 7                Nuptse    7861  25791                  Himalayas
 8       Khunyang Chhish    7852  25761                  Karakoram
 9       Masherbrum (K1)    7821  25659                  Karakoram
 10           Nanda Devi    7816  25643                  Himalayas
 11          Chomo Lonzo    7804  25604                  Himalayas
 12           Batura Sar    7795  25574                  Karakoram
 13           Kanjut Sar    7790  25558                  Karakoram
 14            Rakaposhi    7788  25551                  Karakoram
 15         Namcha Barwa    7782  25531                  Himalayas
 16            Batura II    7762  25466                  Karakoram
 17                Kamet    7756  25446                  Himalayas
 18       Saltoro Kangri    7742  25400                  Karakoram
 19           Batura III    7729  25358                  Karakoram
 20                Jannu    7710  25295                  Himalayas
 21           Tirich Mir    7708  25289                 Hindu Kush
 22          Molamenqing    7703  25272                  Himalayas
 23       Gurla Mandhata    7694  25243     Himalayas (Nalakankar)
 24         Saser Kangri    7672  25171                  Karakoram
 25            Chogolisa    7665  25148                  Karakoram
 26          Kongur Tagh    7649  25095  Pamir or Kunlun Mountains
 27             Shispare    7611  24970                  Karakoram
 28         Silberzacken    7597  24925                   Himalaya
 29             Changtse    7583  24879                  Himalayas
 ..                  ...     ...    ...                        ...
 102        Gasherbrum V    7147  23448                  Karakoram
 103             Latok I    7145  23442                  Karakoram
 104             Nemjung    7140  23425                  Himalayas
 105           Udren Zom    7140  23425                 Hindu Kush
 106          Chaukhamba    7138  23419                  Himalayas
 107             Nun Kun    7135  23409                  Karakoram
 108        Tilicho Peak    7134  23406                  Himalayas
 109        Gauri Sankar    7134  23406        Rolwaling Himalayas
 110          Lenin Peak    7134  23406            Pamir Mountains
 111        Bularung Sar    7134  23406                  Karakoram
 112                 Api    7132  23399                  Himalayas
 113           Teri Kang    7124  23373                  Himalayas
 114            Pauhunri    7128  23386                  Himalayas
 115              Trisul    7120  23360                  Himalayas
 116      Korzhenevskaya    7105  23310            Pamir Mountains
 117        Lunpo Gangri    7095  23278       Himalayas (Gangdise)
 118           Satopanth    7075  23212                  Himalayas
 119             Tirsuli    7074  23209                  Himalayas
 120            Dunagiri    7066  23182                  Himalayas
 121              Kangto    7060  23163                  Himalayas
 122      Nyegyi Kansang    7047  23120                  Himalayas
 123     Chomolhari Kang    7046  23117                  Himalayas
 124           Salasungo    7043  23107                  Himalayas
 125            Link Sar    7041  23100                  Karakoram
 126         Kezhen Peak    7038  23091                  Karakoram
 127           Shah Dhar    7038  23091                 Hindu Kush
 128              Saipal    7031  23068                  Himalayas
 129           Padmanabh    7030  23064                  Himalayas
 130             Spantik    7027  23054                  Karakoram
 131         Khan Tengri    7010  22999                  Tian Shan

                                 Location and Notes
 0                                         Pakistan
 1                             Nepal (Khumbu)/China
 2                                            Nepal
 3                                         Pakistan
 4                                   Manaslu, Nepal
 5                                         Pakistan
 6                                   Manaslu, Nepal
 7                            Everest Massif, Nepal
 8                                         Pakistan
 9                   Pakistan – Originally named K1
 10                             India (Uttarakhand)
 11                     Makalu Massiff, Nepal/China
 12                                        Pakistan
 13                                        Pakistan
 14                                        Pakistan
 15                                           China
 16                                        Pakistan
 17                             India (Uttarakhand)
 18                                  India (Ladakh)
 19                                        Pakistan
 20                            Kangchenjunga, Nepal
 21                     Pakistan – #1 in Hindu Kush
 22                       Shishapangma group, China
 23                                           China
 24                                  India (Ladakh)
 25                                        Pakistan
 26                                           China
 27                                        Pakistan
 28                                        Pakistan
 29                           Everest Massif, China
 ..                                             ...
 102                                       Pakistan
 103                                       Pakistan
 104                                          Nepal
 105                                       Pakistan
 106                            India (Uttarakhand)
 107               India(Jammu and Kashmir, Ladakh)
 108                         Annapurna Himal, Nepal
 109                                    Nepal/China
 110           Tajikistan-Kyrgyzstan – #2 in Pamirs
 111                                       Pakistan
 112                                          Nepal
 113                                         Bhutan
 114                           India (Sikkim)/China
 115                            India (Uttarakhand)
 116                      Tajikistan – #3 in Pamirs
 117                                          China
 118                            India (Uttarakhand)
 119                            India (Uttarakhand)
 120                            India (Uttarakhand)
 121                India (Arunachal Pradesh)/China
 122                India (Arunachal Pradesh)/China
 123                                         Bhutan
 124                                    Nepal/China
 125                                       Pakistan
 126                               China (Xinjiang)
 127                           Pakistan/Afghanistan
 128                                          Nepal
 129                                          India
 130                                       Pakistan
 131  Kyrgyzstan-Kazakhstan-China – #2 in Tian Shan

 [132 rows x 5 columns],
                          Mountain  Metres   Feet  \
 0                    Machapuchare    6993  22943
 1    Laila Peak (Haramosh Valley)    6985  22917
 2                       Kang Guru    6981  22904
 3                   Gasherbrum VI    6979  22897
 4                       Karun Kuh    6977  22890
 5                   Avicenna Peak    6974  22881
 6                   Ulugh Muztagh    6973  22877
 7                       Aconcagua    6962  22841
 8                 Sangemarmar Sar    6949  22799
 9            Kedarnath (mountain)    6940  22769
 10                             K7    6934  22749
 11                     Panchchuli    6904  22651
 12                   Thalay Sagar    6904  22651
 13                Lunkho e Dosare    6901  22641
 14                       Lunag Ri    6895  22621
 15                Ojos del Salado    6891  22608
 16                      Siniolchu    6888  22598
 17                      Kanjiroba    6883  22582
 18                        Bairiga    6882  22579
 19                       Koyo Zom    6872  22546
 20                      Nanda Kot    6861  22510
 21                    Kubi Gangri    6859  22503
 22                      Angel Sar    6858  22500
 23            Bhagirathi Parbat I    6856  22493
 24                 Jethi Bahurani    6850  22474
 25                   Chongra Peak    6830  22408
 26                    Chomo Yummo    6829  22405
 27                    Reo Purgyil    6816  22362
 28                     Ama Dablam    6812  22349
 29                   Monte Pissis    6795  22293
 ..                            ...     ...    ...
 87                      Palcaraju    6274  20584
 88                      Salcantay    6271  20574
 89                     Chimborazo    6267  20561
 90                Mount Siguniang    6250  20505
 91              Grid Nie Mountain    6224  20420
 92                     Yuzhu Peak    6224  20420
 93                  Genyen Massif    6204  20354
 94                      Kongde Ri    6187  20299
 95                   Aucanquilcha    6176  20262
 96                       Imja Tse    6189  20305
 97        Denali (Mount McKinley)    6168  20236
 98                    Stok Kangri    6137  20135
 99                        Lobuche    6119  20075
 100                     Marmolejo    6108  20039
 101     Laila Peak (Hushe Valley)    6096  20000
 102                   Pisang Peak    6091  19984
 103                 Huayna Potosí    6088  19974
 104                        Aracar    6082  19954
 105                  Chachakumani    6074  19928
 106                      Chachani    6057  19872
 107                      Mianzimu    6054  19862
 108                      Acotango    6052  19856
 109                       Socompa    6051  19852
 110                   Minglik Sar    6050  19849
 111                    Acamarachi    6046  19836
 112                    Tocllaraju    6034  19797
 113                        Shayaz    6026  19770
 114                 Hualca Hualca    6025  19767
 115                      Uturunku    6020  19751
 116                    Mitre Peak    6010  19718

                                     Location and Notes
 0    Annapurna Himalaya, Nepal – Officially unclimb...
 1                                  Karakoram, Pakistan
 2    Manaslu Himalaya, Nepal – 2005 avalanche kills 18
 3                                  Karakoram, Pakistan
 4                                  Karakoram, Pakistan
 5           Pamir Mountains, Tajikistan – #3 in Pamirs
 6         Kunlun Mountains, Often misquoted as 7,723 m
 7    Andes, Argentina – Highest in both the Western...
 8                                  Karakoram, Pakistan
 9                                     Himalayas, India
 10                                Karakoram – Pakistan
 11                                    Himalayas, India
 12                                    Himalayas, India
 13                    Hindu Kush, Afghanistan-Pakistan
 14                               Himalaya, Nepal-China
 15   Andes, Argentina-Chile – Highest volcano on Earth
 16              Kangchenjunga Himalaya, India (Sikkim)
 17                                    Himalayas, Nepal
 18                                        Kangri Garpo
 19                                Hindu Kush, Pakistan
 20                      Himalayas, India (Uttarakhand)
 21                              Himalayas, Nepal/China
 22                                 Karakoram, Pakistan
 23                      Himalayas, India (Uttarakhand)
 24                                    Himalayas, Nepal
 25                     Nanga Parbat Himalaya, Pakistan
 26                                 Sikkim, India/China
 27   Western Himalaya, India border – Highest in Hi...
 28                           Himalayas, Nepal (Khumbu)
 29   Andes, Argentina – Third highest in Western He...
 ..                                                 ...
 87                                         Andes, Peru
 88                                         Andes, Peru
 89   Andes, Ecuador – Furthest point from Earth's c...
 90                 Qionglai Mountains, China (Sichuan)
 91                 Hengduan Mountains, China (Sichuan)
 92                   Kunlun Mountains, China (Qinghai)
 93                      Shaluli Range, China (Sichuan)
 94                           Himalayas, Nepal (Khumbu)
 95                                        Andes, Chile
 96                           Himalayas, Nepal (Khumbu)
 97   Alaska Range, United States (Alaska) – Highest...
 98                           Himalayas, India (Ladakh)
 99                           Himalayas, Nepal (Khumbu)
 100                             Andes, Argentina/Chile
 101                                Karakoram, Pakistan
 102                          Annapurna Himalaya, Nepal
 103                                     Andes, Bolivia
 104                                   Andes, Argentina
 105                                     Andes, Bolivia
 106                                        Andes, Peru
 107                                      Yunnan, China
 108                               Andes, Bolivia/Chile
 109                             Andes, Argentina/Chile
 110                                Karakoram, Pakistan
 111                                       Andes, Chile
 112                                        Andes, Peru
 113                               Hindu Kush, Pakistan
 114                                        Andes, Peru
 115                                     Andes, Bolivia
 116                                Karakoram, Pakistan

 [117 rows x 4 columns],
                      Mountain  Metres   Feet                         Range  \
 0                  Laila Peak    5971  19590                      Himalaya
 1                 Mount Logan    5959  19551         Saint Elias Mountains
 2                    Alpamayo    5947  19511                         Andes
 3                 Cerro Lípez    5929  19452                         Andes
 4                  Licancabur    5920  19423                         Andes
 5                   Falak Sar    5918  19416                    Hindu Kush
 6                    Cotopaxi    5897  19347                         Andes
 7           Mount Kilimanjaro    5895  19341        Eastern Rift Mountains
 8                Hkakabo Razi    5881  19295                     Himalayas
 9                    San José    5856  19213                         Andes
 10            Nevado Mariposa    5842  19167                         Andes
 11                   El Misti    5822  19101                         Andes
 12                 Altun Shan    5798  19022                    Altyn-Tagh
 13                    Cayambe    5790  18996                         Andes
 14       Pico Cristóbal Colón    5776  18950  Sierra Nevada de Santa Marta
 15                   Antisana    5753  18875                         Andes
 16               Nevado Pisco    5752  18871                         Andes
 17           Nevado Anallajsi    5750  18865                         Andes
 18                    Pokalde    5745  18848              Khumbu Himalayas
 19                     Ubinas    5672  18609                         Andes
 20                Pichu Pichu    5664  18583                         Andes
 21               Mount Elbrus    5642  18510            Caucasus Mountains
 22              Mehrbani Peak    5639  18501                     Karakoram
 23            Pico de Orizaba    5636  18491   Trans-Mexican Volcanic Belt
 24             Mount Damavand    5610  18406                        Alborz
 25               Nevado Mismi    5597  18363                         Andes
 26  Jade Dragon Snow Mountain    5596  18360            Hengduan Mountains
 27             Lascar Volcano    5592  18346                         Andes
 28           Mount Xuebaoding    5588  18333                 Min Mountains
 29               Kala Patthar    5545  18192              Khumbu Himalayas
 ..                        ...     ...    ...                           ...
 46                   El Altar    5320  17454                         Andes
 47              Mount Foraker    5304  17402                  Alaska Range
 48             Mount Haramukh    5300  17388                      Himalaya
 49          Nevado del Tolima    5276  17310                         Andes
 50                      Maipo    5264  17270                         Andes
 51                   Illiniza    5248  17218                         Andes
 52                 Point 5240    5240  17192                      Himalaya
 53                Sirbal Peak    5236  17178                      Himalaya
 54                     Sangay    5230  17159                         Andes
 55               Iztaccíhuatl    5230  17159   Trans-Mexican Volcanic Belt
 56              Mount Lucania    5226  17146         Saint Elias Mountains
 57               Karakol Peak    5216  17113                     Tian Shan
 58                   Dykh-Tau    5205  17077            Caucasus Mountains
 59                    Shkhara    5201  17064            Caucasus Mountains
 60                Mount Kenya    5199  17057                           NaN
 61              Malika Parbat    5190  17028                      Himalaya
 62              Amarnath Peak    5186  17014                      Himalaya
 63      Laram Q'awa (Charaña)    5182  17001                         Andes
 64                  King Peak    5173  16972         Saint Elias Mountains
 65         Boris Yeltsin Peak    5168  16955                Teskey Ala-Too
 66                Koshtan-Tau    5150  16896            Caucasus Mountains
 67                 Mount Agri    5137  16854                           NaN
 68              Mount Stanley    5109  16762           Ruwenzori Mountains

### 🔬 Checkpoint Tests 🔬

In [8]:
## == CHECKPOINT TESTS ==
# - This read-only cell contains a "checkpoint" for this section of the MicroProejct and verifies you are on the right track.
# - If this cell results in a celebration message, you PASSED all test cases!
# - If this cell results in any errors, check you previous cells, make changes, and RE-RUN your code and then this cell.
tada = "\N{PARTY POPPER}"

assert("pages" in vars())
assert(type(pages[0]) == type(pd.DataFrame()))
assert("Feet" in pages[0])
assert("Range" in pages[1])
assert("Mountain" in pages[2])
assert("Location and Notes" in pages[3])
assert("Metres" in pages[4])
print(f"{tada} All Tests Passed! {tada}")

🎉 All Tests Passed! 🎉

<hr style="color: #DD3403;">

## Joining the individual DataFrames into one large DataFrame

Now that you have **ALL** of the tables in the `pages` variable, we want to convert this into one large DataFrame.  However, instead of having just one DataFrame, the webpage has different tables.

Let's explore the individual tables.  Using `pages[0]`, you can view the first table of data found on the Wikipedia page:

In [9]:
pages[0]

,Mountain,Metres,Feet,Range,Location and Notes
0,Mount Everest,8848,29029,Himalayas,Nepal/China
1,K2,8612,28255,Karakoram,Pakistan/China
2,Kangchenjunga,8586,28169,Himalayas,Nepal/India
3,Lhotse,8516,27940,Himalayas,Nepal – Climbers ascend Lhotse Face in climbin...
4,Makalu,8485,27838,Himalayas,Nepal
5,Cho Oyu,8188,26864,Himalayas,"Nepal – Considered ""easiest"" eight-thousander"
6,Dhaulagiri,8167,26795,Himalayas,Nepal – Presumed world's highest from 1808-1838
7,Manaslu,8163,26781,Himalayas,Nepal
8,Nanga Parbat,8126,26660,Himalayas,Pakistan
9,Annapurna,8091,26545,Himalayas,Nepal – First eight-thousander to be climbed (...
10,Gasherbrum I (Hidden peak; K5),8080,26509,Karakoram,Pakistan/China – Originally named K5
11,Broad Peak,8051,26414,Karakoram,Pakistan/China
12,Gasherbrum II (K4),8035,26362,Karakoram,Pakistan/China – Originally named K4
13,Shishapangma,8027,26335,Himalayas,China

Using `pages[1]`, you view the second table that was found:

In [10]:
pages[1]

,Mountain,Metres,Feet,Range,Location and Notes
0,Gasherbrum III,7952,26089,Karakoram,Pakistan
1,Gyachung Kang,7952,26089,Himalayas,Nepal (Khumbu)/China
2,Annapurna II,7937,26040,Himalayas,Nepal
3,Gasherbrum IV (K3),7932,26024,Karakoram,Pakistan
4,Himalchuli,7893,25896,Himalayas,"Manaslu, Nepal"
5,Distaghil Sar,7885,25869,Karakoram,Pakistan
6,Ngadi Chuli,7871,25823,Himalayas,"Manaslu, Nepal"
7,Nuptse,7861,25791,Himalayas,"Everest Massif, Nepal"
8,Khunyang Chhish,7852,25761,Karakoram,Pakistan
9,Masherbrum (K1),7821,25659,Karakoram,Pakistan – Originally named K1
10,Nanda Devi,7816,25643,Himalayas,India (Uttarakhand)
11,Chomo Lonzo,7804,25604,Himalayas,"Makalu Massiff, Nepal/China"
12,Batura Sar,7795,25574,Karakoram,Pakistan
13,Kanjut Sar,7790,25558,Karakoram,Pakistan
14,Rakaposhi,7788,25551,Karakoram,Pakistan
15,Namcha Barwa,7782,25531,Himalayas,China
16,Batura II,7762,25466,Karakoram,Pakistan
17,Kamet,7756,25446,Himalayas,India (Uttarakhand)
18,Saltoro Kangri,7742,25400,Karakoram,India (Ladakh)
19,Batura III,7729,25358,Karakoram,Pakistan
20,Jannu,7710,25295,Himalayas,"Kangchenjunga, Nepal"
21,Tirich Mir,7708,25289,Hindu Kush,Pakistan – #1 in Hindu Kush
22,Molamenqing,7703,25272,Himalayas,"Shishapangma group, China"
23,Gurla Mandhata,7694,25243,Himalayas (Nalakankar),China
24,Saser Kangri,7672,25171,Karakoram,India (Ladakh)
25,Chogolisa,7665,25148,Karakoram,Pakistan
26,Kongur Tagh,7649,25095,Pamir or Kunlun Mountains,China
27,Shispare,7611,24970,Karakoram,Pakistan
28,Silberzacken,7597,24925,Himalaya,Pakistan
29,Changtse,7583,24879,Himalayas,"Everest Massif, China"
...,...,...,...,...,...
102,Gasherbrum V,7147,23448,Karakoram,Pakistan
103,Latok I,7145,23442,Karakoram,Pakistan
104,Nemjung,7140,23425,Himalayas,Nepal
105,Udren Zom,7140,23425,Hindu Kush,Pakistan
106,Chaukhamba,7138,23419,Himalayas,India (Uttarakhand)
107,Nun Kun,7135,23409,Karakoram,"India(Jammu and Kashmir, Ladakh)"
108,Tilicho Peak,7134,23406,Himalayas,"Annapurna Himal, Nepal"
109,Gauri Sankar,7134,23406,Rolwaling Himalayas,Nepal/China
110,Lenin Peak,7134,23406,Pamir Mountains,Tajikistan-Kyrgyzstan – #2 in Pamirs
111,Bularung Sar,7134,23406,Karakoram,Pakistan
112,Api,7132,23399,Himalayas,Nepal
113,Teri Kang,7124,23373,Himalayas,Bhutan
114,Pauhunri,7128,23386,Himalayas,India (Sikkim)/China
115,Trisul,7120,23360,Himalayas,India (Uttarakhand)
116,Korzhenevskaya,7105,23310,Pamir Mountains,Tajikistan – #3 in Pamirs
117,Lunpo Gangri,7095,23278,Himalayas (Gangdise),China
118,Satopanth,7075,23212,Himalayas,India (Uttarakhand)
119,Tirsuli,7074,23209,Himalayas,India (Uttarakhand)
120,Dunagiri,7066,23182,Himalayas,India (Uttarakhand)
121,Kangto,7060,23163,Himalayas,India (Arunachal Pradesh)/China
122,Nyegyi Kansang,7047,23120,Himalayas,India (Arunachal Pradesh)/China
123,Chomolhari Kang,7046,23117,Himalayas,Bhutan
124,Salasungo,7043,23107,Himalayas,Nepal/China
125,Link Sar,7041,23100,Karakoram,Pakistan
126,Kezhen Peak,7038,23091,Karakoram,China (Xinjiang)
127,Shah Dhar,7038,23091,Hindu Kush,Pakistan/Afghanistan
128,Saipal,7031,23068,Himalayas,Nepal
129,Padmanabh,7030,23064,Himalayas,India
130,Spantik,7027,23054,Karakoram,Pakistan
131,Khan Tengri,7010,22999,Tian Shan,Kyrgyzstan-Kazakhstan-China – #2 in Tian Shan

### Finding the Last DataFrame

Continue to look at the tables the Wikipedia page contains.  Find out the **last index** of `pages` that contains data amount the mountains:

In [15]:
pages[len(pages)-1]

,Mountain,Metres,Feet,Range,Location and Notes
0,Sgurr Dearg,986.00,3235,Cuillin,Scotland
1,Mount Sizer,980.00,3215,Diablo Range,US (California)
2,Mount Valin,980.00,3215,Saguenay Lac St-Jean,Canada (Québec)
3,Hyangnosan,979.00,3212,NaN,"Gyeongnam Province, South Korea"
4,Scafell Pike,978.00,3209,Southern Fells,England (Cumbria) – Highest in England
5,Mount Edgecumbe,976.00,3202,NaN,US (Alaska)
6,Grand Bonhomme,973.00,3192,NaN,Saint Vincent and the Grenadines
7,North Mountain (Catskills),969.00,3179,Catskill Escarpment,US (New York)
8,Doli Gutta,965.00,3166,Deccan Plateau,India – Highest in Telangana State
9,Mount Monadnock,965.00,3166,NaN,US (New Hampshire) – One of the most frequentl...
10,Mount Pirongia,959.00,3146,Hakarimata Range,New Zealand
11,Tai Mo Shan,957.00,3140,NaN,Hong Kong – Highest in Hong Kong
12,Chimneytop,950.10,3117,Bays Mountain Range,"Tennessee, US"
13,Helvellyn,950.00,3117,Eastern Fells,England (Cumbria)
14,Mount Gimie,950.00,3117,NaN,Saint Lucia – Highest point
15,El Cerro del Aripo,940.00,3084,Northern Range,Trinidad and Tobago – Highest point
16,El Tucuche,936.00,3071,Northern Range,Trinidad and Tobago
17,Lantau Peak,934.00,3064,NaN,Hong Kong
18,Betlingchhip,930.00,3051,Jampui Hills,India – Highest in Tripura
19,Kaimondake volcano,924.00,3031,NaN,"Kagoshima, Japan"
20,San Salvatore,912.00,2992,NaN,"Ticino, Switzerland"
21,Pantokrator,906.00,2972,NaN,Greece (Corfu)
22,Edinburgh Peak,904.00,2966,NaN,"Tristan Da Cunha, UK"
23,Cadair Idris,893.00,2930,NaN,Wales
24,Pen y Fan,886.00,2907,NaN,Wales
25,Baekunsan,885.00,2904,NaN,"Ulsan, South Korea"
26,Mount Gerizim,881.00,2890,NaN,West Bank
27,Sunset Peak,869.00,2851,NaN,Hong Kong
28,Mahuli,858.00,2815,NaN,"Thane District, Maharashtra, India"
29,Mount Taylor,856.00,2808,NaN,"Canberra, Australia"
...,...,...,...,...,...
109,Suur Munamägi,318.00,1043,NaN,"Haanja, Estonia"
110,Gaiziņkalns,312.00,1024,NaN,Latvia – Highest Point in Latvia
111,Mutla Ridge,306.00,1004,NaN,Kuwait – Highest point
112,Aukštojas,293.84,964,NaN,"Medininkai, Lithuania"
113,Kruopinė,293.65,963,NaN,"Vilnius, Lithuania"
114,Juozapinė,292.70,960,NaN,"Vilnius, Lithuania"
115,Morne du Vitet,286.00,938,NaN,Saint Barthélemy (France) – Highest point
116,Qixia Mountain,286.00,938,NaN,"Nanjing, China"
117,Hwajangsan,285.00,935,NaN,"Ulsan, South Korea"
118,Potolaka/Putuo Shan,284.00,932,NaN,"Zhejiang, China"
119,Jerimoth Hill,247.00,810,NaN,"Rhode Island, US"
120,Mount Ngerchelchuus,242.00,794,NaN,"Babeldaob, Palau – Highest point"
121,Mount Royal,233.00,764,NaN,"Quebec, Canada"
122,Diamond Head,232.00,761,NaN,US (Hawaii)
123,Yeomposan,203.00,666,NaN,"Ulsan, South Korea"
124,Hamwolsan,200.00,656,NaN,"Ulsan, South Korea"
125,Great Blue Hill,193.50,635,NaN,"Massachusetts, US"
126,Alto de Coloane,170.00,558,NaN,Macau – Highest point
127,Bukit Timah Hill,164.00,538,NaN,Singapore – Highest point
128,Himmelbjerget,147.00,482,NaN,Silkeborg (Denmark) – In order to reach the as...
129,Les Platons,143.00,469,NaN,Jersey (United Kingdom) – Highest point
130,Aborrebjerg,143.00,469,NaN,"Møn, Denmark"
131,Māngere Mountain,107.00,351,NaN,New Zealand
132,Britton Hill,105.00,344,NaN,"Florida, US – The lowest high point of any U.S..."
133,Qurayn Abu al Bawl,103.00,338,NaN,Qatar – Highest point
134,Command Ridge,71.00,233,NaN,Nauru – Highest point
135,Mount Wycheproof,43.00,141,NaN,"Victoria, Australia – smallest mountain"
136,Hoge Blekker,35.00,115,NaN,"West Flanders, Belgium – Shortest mountain in ..."
137,Mount Tenpō,4.53,15,NaN,"Osaka, Japan"
138,Tianzhong Mountain,3.60,12,NaN,"Henan Province, China"

### Combining the DataFrames Together

Before we can do analysis on the whole dataset, we need to join the individual tables together.  When we join DataFrames end-to-end, where the last row of the previous DataFrame is followed by the first row of the next DataFrame, the operation is called concatenation.

Read the DISCOVERY guide to learn the syntax on "Combining DataFrames by Concatenation"
- [Guide: "Combining DataFrames by Concatenation"](https://discovery.cs.illinois.edu/guides/Combining-DataFrames/Combining-DataFrames-by-Concatenation/) (https://discovery.cs.illinois.edu/guides/Combining-DataFrames/Combining-DataFrames-by-Concatenation/)

Use concatenation to create a single DataFrame `df` that contains data amount every mountain found on the Wikipedia page:

In [17]:
df = pd.concat([pages[0], pages[1], pages[2], pages[3], pages[4], pages[5], pages[6], pages[7], pages[8]]).reset_index()
df

c:\Users\19023\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,index,Feet,Location and Notes,Metres,Mountain,Range
0,0,29029,Nepal/China,8848.00,Mount Everest,Himalayas
1,1,28255,Pakistan/China,8612.00,K2,Karakoram
2,2,28169,Nepal/India,8586.00,Kangchenjunga,Himalayas
3,3,27940,Nepal – Climbers ascend Lhotse Face in climbin...,8516.00,Lhotse,Himalayas
4,4,27838,Nepal,8485.00,Makalu,Himalayas
5,5,26864,"Nepal – Considered ""easiest"" eight-thousander",8188.00,Cho Oyu,Himalayas
6,6,26795,Nepal – Presumed world's highest from 1808-1838,8167.00,Dhaulagiri,Himalayas
7,7,26781,Nepal,8163.00,Manaslu,Himalayas
8,8,26660,Pakistan,8126.00,Nanga Parbat,Himalayas
9,9,26545,Nepal – First eight-thousander to be climbed (...,8091.00,Annapurna,Himalayas
10,10,26509,Pakistan/China – Originally named K5,8080.00,Gasherbrum I (Hidden peak; K5),Karakoram
11,11,26414,Pakistan/China,8051.00,Broad Peak,Karakoram
12,12,26362,Pakistan/China – Originally named K4,8035.00,Gasherbrum II (K4),Karakoram
13,13,26335,China,8027.00,Shishapangma,Himalayas
14,0,26089,Pakistan,7952.00,Gasherbrum III,Karakoram
15,1,26089,Nepal (Khumbu)/China,7952.00,Gyachung Kang,Himalayas
16,2,26040,Nepal,7937.00,Annapurna II,Himalayas
17,3,26024,Pakistan,7932.00,Gasherbrum IV (K3),Karakoram
18,4,25896,"Manaslu, Nepal",7893.00,Himalchuli,Himalayas
19,5,25869,Pakistan,7885.00,Distaghil Sar,Karakoram
20,6,25823,"Manaslu, Nepal",7871.00,Ngadi Chuli,Himalayas
21,7,25791,"Everest Massif, Nepal",7861.00,Nuptse,Himalayas
22,8,25761,Pakistan,7852.00,Khunyang Chhish,Karakoram
23,9,25659,Pakistan – Originally named K1,7821.00,Masherbrum (K1),Karakoram
24,10,25643,India (Uttarakhand),7816.00,Nanda Devi,Himalayas
25,11,25604,"Makalu Massiff, Nepal/China",7804.00,Chomo Lonzo,Himalayas
26,12,25574,Pakistan,7795.00,Batura Sar,Karakoram
27,13,25558,Pakistan,7790.00,Kanjut Sar,Karakoram
28,14,25551,Pakistan,7788.00,Rakaposhi,Karakoram
29,15,25531,China,7782.00,Namcha Barwa,Himalayas
...,...,...,...,...,...,...
1573,109,1043,"Haanja, Estonia",318.00,Suur Munamägi,NaN
1574,110,1024,Latvia – Highest Point in Latvia,312.00,Gaiziņkalns,NaN
1575,111,1004,Kuwait – Highest point,306.00,Mutla Ridge,NaN
1576,112,964,"Medininkai, Lithuania",293.84,Aukštojas,NaN
1577,113,963,"Vilnius, Lithuania",293.65,Kruopinė,NaN
1578,114,960,"Vilnius, Lithuania",292.70,Juozapinė,NaN
1579,115,938,Saint Barthélemy (France) – Highest point,286.00,Morne du Vitet,NaN
1580,116,938,"Nanjing, China",286.00,Qixia Mountain,NaN
1581,117,935,"Ulsan, South Korea",285.00,Hwajangsan,NaN
1582,118,932,"Zhejiang, China",284.00,Potolaka/Putuo Shan,NaN
1583,119,810,"Rhode Island, US",247.00,Jerimoth Hill,NaN
1584,120,794,"Babeldaob, Palau – Highest point",242.00,Mount Ngerchelchuus,NaN
1585,121,764,"Quebec, Canada",233.00,Mount Royal,NaN
1586,122,761,US (Hawaii),232.00,Diamond Head,NaN
1587,123,666,"Ulsan, South Korea",203.00,Yeomposan,NaN
1588,124,656,"Ulsan, South Korea",200.00,Hamwolsan,NaN
1589,125,635,"Massachusetts, US",193.50,Great Blue Hill,NaN
1590,126,558,Macau – Highest point,170.00,Alto de Coloane,NaN
1591,127,538,Singapore – Highest point,164.00,Bukit Timah Hill,NaN
1592,128,482,Silkeborg (Denmark) – In order to reach the as...,147.00,Himmelbjerget,NaN
1593,129,469,Jersey (United Kingdom) – Highest point,143.00,Les Platons,NaN
1594,130,469,"Møn, Denmark",143.00,Aborrebjerg,NaN
1595,131,351,New Zealand,107.00,Māngere Mountain,NaN
1596,132,344,"Florida, US – The lowest high point of any U.S...",105.00,Britton Hill,NaN
1597,133,338,Qatar – Highest point,103.00,Qurayn Abu al Bawl,NaN
1598,134,233,Nauru – Highest point,71.00,Command Ridge,NaN
1599,135,141,"Victoria, Australia – smallest mountain",43.00,Mount Wycheproof,NaN
1600,136,115,"West Flanders, Belgium – Shortest mountain in ...",35.00,Hoge Blekker,NaN
1601,137,15,"Osaka, Japan",4.53,Mount Tenpō,NaN
1602,138,12,"Henan Province, China",3.60,Tianzhong Mountain,NaN

### 🔬 Checkpoint Tests 🔬

In [18]:
## == CHECKPOINT TESTS ==
# - This read-only cell contains a "checkpoint" for this section of the MicroProejct and verifies you are on the right track.
# - If this cell results in a celebration message, you PASSED all test cases!
# - If this cell results in any errors, check you previous cells, make changes, and RE-RUN your code and then this cell.
tada = "\N{PARTY POPPER}"

assert("df" in vars())
assert(len(df) > len(pages[0]))
assert("Feet" in df)
assert("Mountain" in df)
assert(len(df[df.Feet > 26000]) > 0)
assert(len(df[df.Feet < 2000]) > 0)
assert(len(df[ (df.Feet < 26000) & (df.Feet > 22000) ]) > 0)
assert(len(df[ (df.Feet < 22000) & (df.Feet > 18000) ]) > 0)
assert(len(df[ (df.Feet < 18000) & (df.Feet > 14000) ]) > 0)
assert(len(df[ (df.Feet < 14000) & (df.Feet > 10000) ]) > 0)
assert(len(df[ (df.Feet < 10000) & (df.Feet > 6000) ]) > 0)
assert(len(df[ (df.Feet < 6000) & (df.Feet > 2000) ]) > 0)
print(f"{tada} All Tests Passed! {tada}")

🎉 All Tests Passed! 🎉

<hr style="color: #DD3403;">

## Mountains in the United States

Now that we have every mountain in a single DataFrame, we can do some analysis!  In the dataset, the `Location and Notes` column contains a human-written description of the location and other notes.

Create a DataFrame called `df_us` that contains all of the mountains in the United States.

- You will need to look back at the [Wikipedia page]((https://discovery.cs.illinois.edu/guides/Combining-DataFrames/Combining-DataFrames-by-Concatenation/)), or explore `df` here in Python, to find out all the different ways mountains in the United States might be labeled.  *(Hint: There's two different ways!)*

In [27]:
df_us1 = df[df['Location and Notes'].str.contains('US')]
df_us2 = df[df['Location and Notes'].str.contains('United States')]
df_us = pd.concat([df_us1, df_us2])
df_us

,index,Feet,Location and Notes,Metres,Mountain,Range
293,30,18009,"Yukon, Canada/Alaska, US – Second highest in b...",5489.0,Mount Saint Elias,Saint Elias Mountains
310,47,17402,"Alaska, US",5304.0,Mount Foraker,Alaska Range
338,75,16421,"Alaska, US – Also given as 5,030 m or 5,045m",5005.0,Mount Bona,Saint Elias Mountains
339,0,16391,"Wrangell Mtns., Alaska, US (also given 5036 m)",4996.0,Mount Blackburn,NaN
343,4,16237,"Wrangell Mtns., Alaska, US",4949.0,Mount Sanford,NaN
362,23,15636,"Saint Elias Mountains, Alaska, US",4766.0,Mount Churchill,NaN
378,39,15299,"Fairweather Range, Alaska, US",4663.0,Mount Fairweather,NaN
393,54,14833,"Saint Elias Mountains, Alaska, US",4521.0,Mount Bear,NaN
409,70,14573,"Alaska Range, Alaska, US",4442.0,Mount Hunter,NaN
412,73,14505,"Sierra Nevada, California, US",4421.0,Mount Whitney,NaN
413,74,14501,"Saint Elias Mountains, Alaska, US/Yukon, Canada",4420.0,Mount Alverstone,NaN
414,75,14472,"Saint Elias Mountains, Alaska, US",4411.0,University Peak,NaN
415,76,14446,"Saint Elias Mountains, Alaska, US",4403.0,Aello Peak,NaN
416,77,14442,"Sawatch Range, Colorado, US",4402.0,Mount Elbert,NaN
417,78,14419,"Sawatch Range, Colorado, US",4395.0,Mount Massive,NaN
418,79,14419,"Sawatch Range, Colorado, US",4395.0,Mount Harvard,NaN
419,80,14409,"Cascades, Washington, US",4392.0,Mount Rainier,NaN
422,83,14377,"Sierra Nevada, California, US",4382.0,Mount Williamson,NaN
424,85,14350,"Rocky Mountains, Colorado, US",4374.0,Blanca Peak,NaN
425,86,14344,"Sawatch Range, Colorado, US",4372.0,La Plata Peak,NaN
428,89,14308,"San Juan Mountains, Colorado, US",4361.0,Uncompahgre Peak,NaN
430,91,14295,"Sangre de Cristo Range, Colorado, US",4357.0,Crestone Peak,NaN
431,92,14285,"Mosquito Range, Colorado, US",4354.0,Mount Lincoln,NaN
433,94,14272,"Front Range, Colorado, US",4350.0,Grays Peak,NaN
434,95,14272,"Front Range, Colorado, US",4350.0,Mount Evans,NaN
435,96,14272,"Tenmile Range, Colorado, US",4350.0,Quandary Peak,NaN
437,98,14268,"Sawatch Range, Colorado, US",4349.0,Mount Antero,NaN
438,99,14268,"Front Range, Colorado, US",4349.0,Torreys Peak,NaN
439,100,14265,"Elk Mountains, Colorado, US",4348.0,Castle Peak,NaN
440,101,14259,"Front Range, Colorado, US",4346.0,Longs Peak,NaN
...,...,...,...,...,...,...
1429,186,4062,"Blue Ridge Mountains, Virginia, US",1238.0,The Priest,NaN
1432,189,4003,"Oahu, Hawaii, US",1220.0,Kaʻala,NaN
1437,194,3848,"California, US",1173.0,Mount Diablo,NaN
1446,203,3576,"Alaska, US",1090.0,Mount Juneau,NaN
1449,206,3510,"Alaska, US",1070.0,Flattop Mountain,NaN
1451,208,3507,"North Dakota, US – Highest in state",1069.0,White Butte,NaN
1452,209,3474,"Virginia, US",1059.0,Hogback Mountain,NaN
1463,220,3284,"Virginia, US",1001.0,Old Rag Mountain,NaN
1465,1,3215,US (California),980.0,Mount Sizer,Diablo Range
1469,5,3202,US (Alaska),976.0,Mount Edgecumbe,NaN
1471,7,3179,US (New York),969.0,North Mountain (Catskills),Catskill Escarpment
1473,9,3166,US (New Hampshire) – One of the most frequentl...,965.0,Mount Monadnock,NaN
1476,12,3117,"Tennessee, US",950.1,Chimneytop,Bays Mountain Range
1497,33,2753,"Arkansas, US",839.0,Mount Magazine,Ozark Mountains
1508,44,2598,US (California),792.0,Mount Tamalpais,California Coast Ranges
1509,45,2592,US (California),790.0,Mission Peak,Diablo Range
1519,55,2290,US (Hawaii),698.0,Pu‘u ‘Ō‘ō,NaN
1549,85,1772,"Missouri, US",540.0,Taum Sauk Mountain,NaN
1555,91,1575,"Washington, US",480.0,Little Si,Cascade Range
1565,101,1339,US (New York),408.0,Storm King Mountain,Hudson Highlands
1583,119,810,"Rhode Island, US",247.0,Jerimoth Hill,NaN
1586,122,761,US (Hawaii),232.0,Diamond Head,NaN
1589,125,635,"Massachusetts, US",193.5,Great Blue Hill,NaN
1596,132,344,"Florida, US – The lowest high point of any U.S...",105.0,Britton Hill,NaN
243,97,20236,"Alaska Range, United States (Alaska) – Highest...",6168.0,Denali (Mount McKinley),NaN
619,20,12927,"Colorado, United States",3940.0,Mount Julian,NaN
623,24,12841,"Bighorn Range, Wyoming, United States",3914.0,Bomber Mountain,NaN
694,95,12028,"Teton Range, Wyoming, United States",3666.0,Thor Peak,NaN
719,120,11752,"Utah, United States",3582.0,Mount Timpanogos,NaN
762,163,11358,"Absaroka Range, Wyoming, United States",3462.0,Eagle Peak,NaN

### Analysis: Percentage of Mountains in the Dataset in the United States?

What percentage of mountains in the entire dataset is found in the United States?

In [28]:
pct_us = len(df_us)/len(df)
pct_us

0.21397379912663755

### 🔬 Checkpoint Tests 🔬

In [29]:
## == CHECKPOINT TESTS ==
# - This read-only cell contains a "checkpoint" for this section of the MicroProejct and verifies you are on the right track.
# - If this cell results in a celebration message, you PASSED all test cases!
# - If this cell results in any errors, check you previous cells, make changes, and RE-RUN your code and then this cell.
tada = "\N{PARTY POPPER}"

assert("df_us" in vars())
assert(len(df_us) > 300)
assert(len(df_us[ df_us.Mountain.str.contains("Mount Saint Elias")]) == 1)
assert(len(df_us[ df_us.Mountain.str.contains("Denali")]) == 1)

assert("pct_us" in vars())
assert(pct_us == len(df_us) / len(df))

print(f"{tada} DataFrame Analysis: All Tests Passed! {tada}")

🎉 DataFrame Analysis: All Tests Passed! 🎉

<hr style="color: #DD3403;">

## 🔬 Microproject - All Checkpoint 🔬

The final check is that you pass all the tests, all at once!

In [30]:
## == CHECKPOINT TESTS ==
# - This read-only cell contains a "checkpoint" for the MicroProejct and verifies you are on the right track.
# - If this cell results in a celebration message, you PASSED all test cases!
# - If this cell results in any errors, check you previous cells, make changes, and RE-RUN your code and then this cell.

tada = "\N{PARTY POPPER}"

assert("pages" in vars())
assert(type(pages[0]) == type(pd.DataFrame()))
assert("Feet" in pages[0])
assert("Range" in pages[1])
assert("Mountain" in pages[2])
assert("Location and Notes" in pages[3])
assert("Metres" in pages[4])

assert("df" in vars())
assert(len(df) > len(pages[0]))
assert("Feet" in df)
assert("Mountain" in df)
assert(len(df[df.Feet > 26000]) > 0)
assert(len(df[df.Feet < 2000]) > 0)
assert(len(df[ (df.Feet < 26000) & (df.Feet > 22000) ]) > 0)
assert(len(df[ (df.Feet < 22000) & (df.Feet > 18000) ]) > 0)
assert(len(df[ (df.Feet < 18000) & (df.Feet > 14000) ]) > 0)
assert(len(df[ (df.Feet < 14000) & (df.Feet > 10000) ]) > 0)
assert(len(df[ (df.Feet < 10000) & (df.Feet > 6000) ]) > 0)
assert(len(df[ (df.Feet < 6000) & (df.Feet > 2000) ]) > 0)

assert("df_us" in vars())
assert(len(df_us) > 300)
assert(len(df_us[ df_us.Mountain.str.contains("Mount Saint Elias")]) == 1)
assert(len(df_us[ df_us.Mountain.str.contains("Denali")]) == 1)

assert("pct_us" in vars())
assert(pct_us == len(df_us) / len(df))

print(f"{tada}{tada} All Tests Passed! {tada}{tada}")

🎉🎉 All Tests Passed! 🎉🎉

<hr style="color: #DD3403;">

## Submission

You're almost done!  All you need to do is to commit your lab to GitHub and run the GitHub Actions Grader:

1.  ⚠️ **Make certain to save your work.** ⚠️ To do this, go to **File => Save All**

2.  After you have saved, exit this notebook and follow the instructions to commit and grade this MicroProject on GitHub!